﻿
    <style>

        .topnav {
            width: 80%;
            overflow: hidden;
            background-color: transparent;
            margin-left: 10%;
        }
        .app4legalLogo{
            width: 200px;
            height: 40px;
        }
    </style>
    <script>
        function logout() {
            $("#logout").addClass('active');
            var url = "@Url.Action("Logout", "Setup")";
            $.get(url, function (result) {
                if (result) {
                    let url = "@Url.Action("SignIn", "Login")";
                    window.location.href = url;
                }
                else {
                    $("#logout").removeClass('active');
                    showErrorMsg("Something went wrong! Please try again later.");
                }
            });
        }        
    </script>
    <div class="topnav form-group row justify-content-center">
        <div class="col-sm-9">
            <img class="app4legalLogo" src="~/Images/app4legal.png" />
        </div>
        <div class="col-sm-3" style="text-align:right;">
            <button id="logout" onclick="logout()" class="btn"  type="button"> Log out</button>
        </div>
    </div>

