﻿@using app4legal_msteams_core.Controllers 
@model app4legal_msteams_core.Models.LoginModel

<head>
    <title>App4Legal Login Page</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/css/bootstrap/css/bootstrap.min.css">
    <script src="~/js/jquery-3.4.1.min.js"></script>
    <script src="~/css/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/js/Colors.js"></script>
    <!-- Microsoft Teams JavaScript API (via CDN) -->
    <script src="https://statics.teams.cdn.office.net/sdk/v1.8.0/js/MicrosoftTeams.min.js" integrity="sha384-5ilKjPffKMvf1YelNqWjOhy5WJC9rkHpgF9pASMY/eRFlb619wOrCGMVIg/a/71o" crossorigin="anonymous"></script>

    <style>
        .form-control:focus {
            border-color: #6264a7;
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.0);
        }

        .focusIn {
            border-bottom: solid 3px #6264a7;
        }

        #ProfileImage {
            max-width: 20px;
            max-height: 20px;
        }

        body {
            background: #EFF7FE;
            padding-top: 15px;
        }

        .main-section {
            background-color: #fff;
        }

        .profile-header {
            background-color: #17a2b8;
            height: 150px;
        }

        .user-detail {
            margin: -50px 0px 30px 0px;
        }

            .user-detail img {
                height: 100px;
                width: 100px;
            }

            .user-detail h5 {
                margin: 15px 0px 5px 0px;
            }

        .user-social-detail {
            padding: 15px 0px;
            background-color: #17a2b8;
        }

            .user-social-detail a i {
                color: #fff;
                font-size: 23px;
                padding: 0px 5px;
            }

        .btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show > .btn-primary.dropdown-toggle {
            color: #fff;
            background-color: #6264a7 /*#2d83be*/;
            border-color: #6264a7 /*#2d83be*/;
        }

        .btn-default {
            font: bold 1rem 'Segoe UI';
            color: white;
            align-content: center;
            background-color: #6264a7;
            margin-bottom: 30px;
        }

        .btn:focus {
            /*border: 1px solid #000;*/
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.0);
        }

        .btn-default:hover {
            color: #fff;
            background-color: #464775;
            border-color: #464775;
        }

        .btn-link {
            font-weight: 400;
            color: #131619;
            text-decoration: none;
        }

        form {
            color: #545454;
            display: block;
            /*max-width: 40rem;*/
            background: #ffffff;
            width: 100%;
        }



        .login_content {
            padding: 0 2rem;
            width: 100%;
        }

        body {
            margin: 0;
            font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.5;
            color: #212529;
            text-align: left;
            background-color: #bebcde /*#2898cc*/;
        }

        .logo img {
            width: 30%;
        }

        header-login {
            height: 86px;
        }

        .navbar-default {
            background-color: #6365a7;
        }

        .user-social-detail {
            padding: 15px 0px;
            background-color: #2898cc;
        }

        .profile-header {
            background-color: #ffffff;
            height: 150px;
        }

        user-social-detail {
            padding: 15px 0px;
            background-color: #ffffff;
        }

        .btn-info {
            color: #fff;
            background-color: #9090a7;
            border-color: #9090a7;
        }

        .activeClick {
            pointer-events: none;
            font-size: 0px;
            min-width: 1rem;
            width: 2rem;
            height: 2rem;
            background-color: transparent;
            border-radius: 50%;
            border-color: #6264a7;
            border-left-color: transparent;
            animation: rotate 1.4s ease 0.5s infinite;
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.0);
        }

        @@keyframes rotate {
            0% {
                transform: rotate(360deg);
            }
        }

        * {
            font-size: 100%;
            font-family: 'Segoe UI';
        }
    </style>

    <script>
        var dllServerCloud, inputUrl, inputUsername, inputPassword;
        function ServerChoiceClick() {

            $("#ServerChoice").click();
            $("#ServerChoice").trigger("click");
        }
        $(document).ready(function () {
            window.resizeTo(550, 485);
            microsoftTeams.initialize();
            setupTheme();
            $("#inputUrl").parent().hide(); $("#div-loggedIn").hide();
            $('#btnLogin').click(function (e) {
                e.preventDefault();
                dllServerCloud = $('#selector button.active').text();
                inputUrl = $("#inputUrl").val();
                inputUsername = $("#inputUsername").val();
                inputPassword = $("#inputPassword").val();


                if ((inputUsername.trim()).length == 0) {
                    $("#inputUsername").addClass("border border-danger");

                }
                if ((inputPassword.trim()).length == 0) {
                    $("#inputPassword").addClass("border border-danger");
                }
                if ((inputUsername.trim()).length == 0 || (inputPassword.trim()).length == 0) {
                    return;
                }

                var IsURLEmpty = CheckUrlAvailablity(inputUrl, dllServerCloud);
                if ((IsURLEmpty) && ((inputUsername.trim()).length > 0 && (inputPassword.trim()).length > 0)) {
                    RestElement();

                    $(this).addClass("activeClick");
                    $(this).removeClass("btn-lg");
                    $(this).removeClass("btn-block");

                    // var RespMsg = window.external.MethodScriptSaveData(dllServerCloud, inputUrl, inputUsername, inputPassword);
                    //IsDisabled();
                    //ShowMessageBox();
                    var urls = "@Url.Action("SaveData","Login")";
                    var model = { cloudOrServer: dllServerCloud, url: inputUrl, username: inputUsername, password: inputPassword };

                    $.post(urls, model, function(res){
                        //res contains the markup returned by the partial view
                        //You probably want to set that to some Div.
                        //$("#SomeDivToShowTheResult").html(res);
                       var response = JSON.parse(res);
                       var error = response.error;
                       if(error && error != null){
                           if (error.includes("Successfully")) {
                               //$.ajax({
                               //    type: "GET",
                               //    url: "/Login/Redirect",
                               //    dataType: 'text',
                               //    success: function (response) {
                               //        window.location.href = response;
                               //    },
                               //    error: function () {
                               //    }
                               //});
                               microsoftTeams.authentication.notifySuccess();


                           }
                           else {
                               removeLoadingFromButton($('#btnLogin'));
                               $("#popUpModal").modal("show");
                               $("#messagePopUp").html(error);
                               //alert(error);
                           }
                       }
                        else
                       {
                           removeLoadingFromButton($('#btnLogin'));
                            var message = response.message;
                            //More than one instance => open instances list
                            $("#instances-list").html(message);
                            openModal();
                        }
                    });
                }
                else {
                    removeLoadingFromButton($('#btnLogin'));
                    return;
                }
            });
            $("#btnLgout").click(function (e) {
                e.preventDefault();
                window.external.LogOut();
            });
            $('#selector button').click(function () {
                $(this).attr("class", "btn btn-pill btn-primary rounded-pill")
                $(this).siblings().attr('class', "btn btn-light rounded-pill");

                $(this).addClass("active");
                $(this).siblings().removeClass("active");

                if ($(this).attr("name") == "Server") {
                    $("#inputUrl").parent().show();
                    window.resizeTo(550, 575);
                } else {
                    $("#inputUrl").parent().hide();
                    window.resizeTo(550, 485);
                }
            });
            //IsDisabled();
            $(document).keydown(function (e) {
                if (e.which == 13) {
                    OnEnter();
                }
            });
            try {
                var lang = window.external.MethodScriptGetselectedLanguage();
                $("#Language").val(lang).trigger('change');
                window.external.MethodScriptTranslations();
            } catch (e) {
                $("#Language").val("English").trigger('change');
            }

            $('#Language').on('change', function () {
                var lang = $("#Language").val();
                window.external.MethodScriptChangeLanguage(lang);
            });
            $('#inputUrl').on('change', function () {
                $("#inputUrl").removeClass("plhdr");
                RestElement();
            });
            $('#inputUrl').click(function () {
                $("#inputUrl").removeClass("plhdr");
                RestElement();
            });
            $('#inputUsername').on('change click', function () {
                $("#inputUsername").removeClass("border border-danger");
            });
            $('#inputPassword').on('change click', function () {
                $("#inputPassword").removeClass("border border-danger");
            });
            $("#inputUrl,#inputUsername,#inputPassword").keyup(function (event) {
                if (event.keyCode == 13) {
                    $("#btnLogin").click();
                }
            });
            $("#header-wrap").mousedown(function () {
                window.external.MethodScriptMoveWindow();
            });
            $("#lnkchkupdates").click(function () {
                //window.external.MethodScriptCheckForUpdates();
            });
            $('#btnCancel').focus(function () {
                $(this).blur();
            });
            //window.external.MethodScriptSetServer();
            //
            //$('#inputUrl').on(':focus', function () {
            //    alert("Heelo");
            //    $(this).addClass('focusinput');
            //});

            var inputs = document.querySelectorAll('.inputText');
            inputs.forEach(element => {
                element.addEventListener("focusin", focusIn);
                element.addEventListener("focusout", focusOut);
            });
            var inFormOrLink;
            $('a').on('click', function () { inFormOrLink = true; });
            $('form').on('submit', function () { inFormOrLink = true; });

            $(window).on("beforeunload", function () {
                if (inFormOrLink) return;
                microsoftTeams.authentication.notifyFailure("login closed");
                return;
            })
        });
        const focusIn = e => {
            $('#' + e.target.id).addClass('focusIn');
        };
        const focusOut = e => {
            $('#' + e.target.id).removeClass('focusIn');
        };
        function removeLoadingFromButton(button) {
            button.removeClass("activeClick");
            button.addClass("btn-lg");
            button.addClass("btn-block");
        }
        function CloseWindow() {
            window.external.MethodScriptCloseWindow();
        }
        function IsDisabled() {
            var LoginStat = window.external.MethodScriptLoginStatus();

            if (LoginStat != "Sign Out") {
                $('#inputUrl').prop("disabled", false);
                $('#inputUsername').prop("disabled", false);
                $('#inputPassword').prop("disabled", false);
                $('.switch-label').css("background-color", "#3b7fc4");
                WhenLoggedOut();
                window.external.MethodScriptResizeForm();
            }
            else {
                $('#inputUrl').prop("disabled", true);
                $('#inputUsername').prop("disabled", true);
                $('#inputPassword').prop("disabled", true);
                $('.switch-label').css("background-color", "#ccc");
                WhenLoggedIn();
                window.external.MethodScriptResizeForm();

            }
        }
        function RestElement() {
            try {
                document.getElementById("errorMsg").value = "";
            } catch (e) { }
        }
        function WhenLoggedIn() {
            $(".div-loggedIn").show();
            $('.div-Login').hide();

        }
        function WhenLoggedOut() {
            $(".div-loggedIn").hide();
            $('.div-Login').show();

        }
        function PlaceHolderTranslation(url, username, pswrd) {
            try {
                $("#inputUrl").attr("placeholder", url);
                $("#inputUsername").attr("placeholder", username);
                $("#inputPassword").attr("placeholder", pswrd);

            } catch (e) {
            }
        }
        function CheckUrlAvailablity(Url, dllServerCloud) {
            var IsURLEmpty = false;
            if (dllServerCloud == "Cloud") {
                if ((Url.trim()).length > 0) {
                    IsURLEmpty = true;
                }
                else {
                    IsURLEmpty = true;
                }
            }
            else {
                if ((Url.trim()).length > 0) {
                    IsURLEmpty = true;
                }
                else {
                    IsURLEmpty = false;
                }
            }
            return IsURLEmpty
        }
        function OnEnter() {
            $("#btnLogin").trigger('click');
        }
        function selectServer() {
            var dllServerCloud = $('#selector button.active').text();
            if (dllServerCloud == "Cloud") {
                $(dllServerCloud).removeClass("active");
                $(dllServerCloud).siblings().addClass("active");
            }
        }
        function openModal() {
            $('#exampleModal').modal("show")
        }
        function arabicRTL() {
            $("body").css("direction", "rtl");
            $(".formItems").css("text-align", "right");
        }
        function setupTheme() {

            microsoftTeams.getContext((context) => {
                var textLabels = document.querySelectorAll('.text');
                var container = $('.container');
                var itemsList = document.querySelectorAll('.list-group-item');
                var inputText = document.querySelectorAll('.inputText');
                if (textLabels != null) {
                    textLabels.forEach(element => {
                        element.style.color = (context.theme === 'default') ? appBlack : '#fff';
                    });
                }
                if (inputText != null) {
                    inputText.forEach(element => {
                        element.style.color = (context.theme === 'default') ? appBlack : '#fff';
                    });
                }
                if (itemsList != null && itemsList.length != 0) {
                    itemsList.forEach(element => {
                        element.style.backgroundColor = (context.theme === 'default') ? '#fff' : appBlack;
                        element.style.borderColor = (context.theme !== 'contrast') ? appGray : '#fff';
                    });
                }
                if (context.theme !== 'default') {
                    document.body.style.backgroundColor = appBlack;
                    container.css('backgroundColor', appBlack);
                }
                else {
                    document.body.style.backgroundColor = '#fff';
                    container.css('backgroundColor', '#fff');
                }
            });

            microsoftTeams.registerOnThemeChangeHandler((theme) => {

                var textLabels = document.querySelectorAll('.text');
                var container = $('.container');
                var itemsList = document.querySelectorAll('.list-group-item');
                var inputText = document.querySelectorAll('.inputText');
                if (textLabels != null) {
                    textLabels.forEach(element => {
                        element.style.color = (theme === 'default') ? appBlack : '#fff';
                    })
                }
                if (inputText != null) {
                    inputText.forEach(element => {
                        element.style.color = (theme === 'default') ? appBlack : '#fff';
                    });
                }
                if (itemsList != null && itemsList.length != 0) {
                    itemsList.forEach(element => {
                        element.style.backgroundColor = (theme === 'default') ? '#fff' : appBlack;
                        element.style.borderColor = (theme !== 'contrast') ? appGray : '#fff';
                    })
                }
                if (theme !== 'default') {
                    document.body.style.backgroundColor = appBlack;
                    container.css('backgroundColor', appBlack);
                }
                else {
                    document.body.style.backgroundColor = appGray;
                    container.css('backgroundColor', appGray);
                }
            });
        }
        function centerWindow() {
            var width = 550;
            var height = 550;
            var left = parseInt((screen.availWidth / 2) - (width / 2));
            var top = parseInt((screen.availHeight / 2) - (height / 2));
            window.screenLeft = left;
            window.screenTop = top;
            window.screenX = left;
            window.screenY = top;
        }
        function loginApp4Legal(id) {
            $('#exampleModal').modal("hide");
            $('#btnLogin').addClass("activeClick");
            $('#btnLogin').removeClass("btn-lg");
            $('#btnLogin').removeClass("btn-block");
            var urls = "@Url.Action("SignIn","Login")";
            var model = { cloudOrServer: dllServerCloud, url: inputUrl, username: inputUsername, password: inputPassword, instanceId: id };
            $.post(urls, model, function (res) {
                var response = JSON.parse(res);
                var error = response.error;
                if (error && error != null) {
                    if (error.includes("Successfully")) {
                        microsoftTeams.authentication.notifySuccess();
                    }
                    else {
                        removeLoadingFromButton($('#btnLogin'));
                        $("#popUpModal").modal("show");
                        $("#messagePopUp").html(error);
                    }
                }
            });
        }
    </script>
</head>
<body>

                <form class="container">
                    <nav id="header-wrap" class="navbar navbar-default">
                        <div class="container-fluid">
                            <img src="~/Images/logo.png" height="55">
                        </div>
                    </nav>
                    <br />

                    <div class="login_content">
                        <div id="selector" style="text-align:center" class="form-group">
                            <div class="btn-group d-flex" role="group" aria-label="Basic example">
                                <button type="button" name="Cloud" id="CloudChoice" class="btn btn-pill btn-primary rounded-pill active">Cloud</button>&nbsp;
                                <button type="button" name="Server" id="ServerChoice" class="btn btn-light rounded-pill">Server</button>
                            </div>
                        </div>

                        <div class="form-group formItems">
                            <label for="inputUrl" id="labelApp4LegalUrl" class="text">App4Legal URL</label>
                            <input type="text" class="form-control container inputText" id="inputUrl" aria-describedby="usernameHelp" placeholder="Enter URL">
                        </div>

                        <div class="form-group formItems">
                            <label id="lblDisplayUserName" for="inputUsername" class="text">Email</label>
                            <input type="email" class="form-control container inputText" id="inputUsername" placeholder="Enter your Email">
                        </div>

                        <div class="form-group formItems">
                            <label id="lblPassword" for="inputPassword" class="text">Password</label>
                            <input type="password" class="form-control container inputText" id="inputPassword" placeholder="Enter your password">
                        </div>

                        <div id="alert" style="position: fixed;top:0;right: 0; display:none;" class="alert alert-danger" data-dismiss="alert" role="alert">
                            <strong>Error!</strong> <span id="innerMsg">Error </span>
                        </div>
                        <br />
                        <div class="form-group row justify-content-center">
                            <input id="btnLogin" type="submit" class="btn btn-default btn-lg btn-block" data-toggle="modal" value="Login" />
                        </div>
                    </div>
                    @*<div style="text-align:center" class="form-group">
                        <button id="btnCancel" type="button" class="btn btn-link text">Cancel</button>
                    </div>*@
                    <div style="margin-left:10px;margin-right:10px;margin-top:10px;text-align:center">
                    </div>
                </form>
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content container">
                <div class="modal-header">
                    <h5 class="modal-title text" id="exampleModalLabel">Choose Instance</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <ul class="list-group list-group-flush" id="instances-list"></ul>
                </div>
                <div class="modal-footer">
                    <button type="button"  class="btn btn-light" style="background-color:whitesmoke; color:black" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Pop Up-->
    <div class="modal" tabindex="-1" role="dialog" id="popUpModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content container">
                <div class="modal-header">
                    <h5 class="modal-title text">Warning</h5>
                </div>
                <div class="modal-body">
                    <p id="messagePopUp" class="text"></p>
                </div>
                <div class="modal-footer">
                    <button type="button"  class="btn btn-light" style="background-color:whitesmoke; color:black" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</body>
