﻿
@using app4legal_msteams_core.Controllers
@using app4legal_msteams_core.Models
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Redirect</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/css/bootstrap/css/bootstrap.min.css">
    <script src="~/js/jquery-3.4.1.min.js"></script>
    <script src="~/css/bootstrap/js/bootstrap.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="~/js/apiRequests.js"></script>
    <script src="~/js/globalFunc.js"></script>
    <link href="~/css/select2-bootstrap4-theme/dist/select2-bootstrap4.css" rel="stylesheet">
    <link rel="stylesheet" href="../../js/select2/css/select2.css">
    <script src="~/js/select2/js/select2.js"></script>
    <link rel="stylesheet" href="../../css/bootstrap-select/dist/css/bootstrap-select.min.css">
    <script src="~/css/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
    <script src="~/js/Colors.js"></script>
    <link href="~/css/Styles.css" rel="stylesheet">
    <!-- Microsoft Teams JavaScript API (via CDN) -->
    <script src="https://statics.teams.cdn.office.net/sdk/v1.8.0/js/MicrosoftTeams.min.js" integrity="sha384-5ilKjPffKMvf1YelNqWjOhy5WJC9rkHpgF9pASMY/eRFlb619wOrCGMVIg/a/71o" crossorigin="anonymous"></script>

    <script>
        $(document).ready(function () {
            microsoftTeams.initialize();
            var url = "@Html.Raw(ViewBag.url)";
            if (url.length > 0) {
                window.location.href = url;
            }
            else {
                try {
                    $.get(window.location.origin + "/login/CheckAuthorization", function (data) {
                        var isAuthenticated;
                        var isLoggeddInApp4Legal;
                        if (data) {
                            try {
                                var result = JSON.parse(data);
                                isAuthenticated = Boolean(result.microsoft);
                                isLoggeddInApp4Legal = Boolean(result.app4legal);
                            }
                            catch (err) {
                                alert(err);
                            }
                        }
                        if (isAuthenticated) {
                            if (!isLoggeddInApp4Legal) {
                                window.location.href = window.location.origin + "/login/login";
                            }
                            else
                                microsoftTeams.authentication.notifySuccess();
                        }
                        else {
                            microsoftTeams.authentication.notifyFailure();
                        }
                    });

                }
                catch (error) {
                    microsoftTeams.authentication.notifyFailure();
                }
            }
        });
    </script>
</head>
<body>

</body>
</html>