﻿
@using app4legal_msteams_core.Controllers
@using app4legal_msteams_core.Models
@{ 
    bool licensed = true;
    bool isMicrosoftAuthorized = false;
    bool isApp4LegalAuthorized = false;
    if (ViewBag.licensed != null)
    {
        licensed = ViewBag.licensed;
    }
    if (ViewBag.microsoft != null)
    {
        isMicrosoftAuthorized = ViewBag.microsoft;
    }
    if (ViewBag.app4legal != null)
    {
        isApp4LegalAuthorized = ViewBag.app4legal;
    }
}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>SignIn</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/css/bootstrap/css/bootstrap.min.css">
    <script src="~/js/jquery-3.4.1.min.js"></script>
    <script src="~/css/bootstrap/js/bootstrap.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="~/js/apiRequests.js"></script>
    <script src="~/js/globalFunc.js"></script>
    <link href="~/css/select2-bootstrap4-theme/dist/select2-bootstrap4.css" rel="stylesheet">
    <link rel="stylesheet" href="../../js/select2/css/select2.css">
    <script src="~/js/select2/js/select2.js"></script>
    <link rel="stylesheet" href="../../css/bootstrap-select/dist/css/bootstrap-select.min.css">
    <script src="~/css/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
    <script src="~/js/Colors.js"></script>
    <link href="~/css/Styles.css" rel="stylesheet">
    <!-- Microsoft Teams JavaScript API (via CDN) -->
    <script src="https://statics.teams.cdn.office.net/sdk/v1.8.0/js/MicrosoftTeams.min.js" integrity="sha384-5ilKjPffKMvf1YelNqWjOhy5WJC9rkHpgF9pASMY/eRFlb619wOrCGMVIg/a/71o" crossorigin="anonymous"></script>

    <script>
        $(document).ready(function () {
            microsoftTeams.initialize();
            microsoftTeams.getContext(function (context) {
                if (context) {
                    var mail = context.upn;
                    var loggedMail = "@Html.Raw(ViewBag.mail)";
                    if (loggedMail.length > 0 && mail.length > 0) {
                        if (loggedMail.localeCompare(mail) != 0) {
                            var url = window.location.origin + "/login/MsUserChanged";
                            var model = { teamsMail: mail, serverMail: loggedMail };
                            $.post(url, model, function (result) {
                                //location.reload();
                            });
                        }
                    }
                }
            });
            //setupTheme();
            $("#meet-now-button").click(function () {
                var isAuthenticated;
                $.get(window.location.origin + "/login/CheckAuthorization", function (data) {
                    if (data) {
                        try {
                            var result = JSON.parse(data);
                            var microsoft = result.microsoft;
                            isAuthenticated = Boolean(microsoft);
                            var url = window.location.origin + "/login" + (isAuthenticated ? "/login" : "/authorizeMicrosoft");
                            microsoftTeams.authentication.authenticate({
                                url: url,
                                width: 600,
                                height: 550,
                                successCallback: function (result) {
                                    $.ajax({
                                        type: "GET",
                                        url: "/Login/Redirect",
                                        dataType: 'text',
                                        success: function (response) {
                                            window.location.href = response;
                                        },
                                        error: function () {
                                        }
                                    });
                                },
                                failureCallback: function (reason) {
                                    if (reason == "login closed") {
                                        location.reload();
                                    }
                                    if (reason.includes("login.microsoft")) {

                                    }
                                }
                            });
                        }
                        catch (err) {
                            alert(err);
                        }
                    }                    
                });

            });

        });
        function setupTheme() {

            microsoftTeams.getContext((context) => {
                var textLabels = document.querySelectorAll('.text');
                var container = $('.container');
                var itemsList = document.querySelectorAll('.list-group-item');
                if (textLabels != null) {
                    textLabels.forEach(element => {
                        element.style.color = (context.theme === 'default') ? appBlack : '#fff';
                    });
                }
                if (itemsList != null && itemsList.length != 0) {
                    itemsList.forEach(element => {
                        element.style.backgroundColor = (context.theme === 'default') ? '#fff' : appBlack;
                        element.style.borderColor = (context.theme !== 'contrast') ? appGray : '#fff';
                    });
                }
                if (context.theme !== 'default') {
                    document.body.style.backgroundColor = appBlack;
                    container.css('backgroundColor', appBlack);
                }
                else {
                    document.body.style.backgroundColor = appGray;
                    container.css('backgroundColor', '#fff');
                }
            });

            microsoftTeams.registerOnThemeChangeHandler((theme) => {

                var textLabels = document.querySelectorAll('.text');
                var container = $('.container');
                var itemsList = document.querySelectorAll('.list-group-item');
                if (textLabels != null) {
                    textLabels.forEach(element => {
                        element.style.color = (theme === 'default') ? appBlack : '#fff';
                    })
                }
                if (itemsList != null && itemsList.length != 0) {
                    itemsList.forEach(element => {
                        element.style.backgroundColor = (theme === 'default') ? '#fff' : appBlack;
                        element.style.borderColor = (theme !== 'contrast') ? appGray : '#fff';
                    })
                }
                if (theme !== 'default') {
                    document.body.style.backgroundColor = appBlack;
                    container.css('backgroundColor', appBlack);
                }
                else {
                    document.body.style.backgroundColor = appGray;
                    container.css('backgroundColor', '#fff');
                }
            });
        }
    </script>
    @*<style>
        .centered {
            position: fixed;
            left: 50%;
            top: 50%;
            margin-left: -150px;
            margin-top: -3rem;
        }

        .btn {
            font: bolder 1rem 'Segoe UI';
            display: block;
            margin: 10px auto;
        }

        .text {
            display: block;
            margin: 0 auto;
        }

        h5 {
            color: red;
            width: 60%;
            margin-left: 20%;
        }
    </style>*@
</head>
<body>

    @*<div class="form-group justify-content-center">
        <img src="~/Images/app4legal.png" alt="App4Legal Logo" style="width: 25%; height: 20%; display: block; margin: auto;" />
    </div>
    <div class="form-group justify-content-center">
        @{ if (!licensed && isApp4LegalAuthorized)
            { 
                <h5>Not licensed, please subscribe to this application via App4Legal core.</h5>
            }
        }
    </div>
    <div class="form-group justify-content-center centered">
        @{ 
            var textLabel = "";
            var buttonLabel = "";
            if(!isMicrosoftAuthorized)
            {
                textLabel = "Please sign in first to App4legal and Microsoft.";
                buttonLabel = "Sign in using Microsoft account";
            }
            if(isMicrosoftAuthorized && !isApp4LegalAuthorized)
            {
                textLabel = "To start using App4Legal in Microsoft Teams.";
                buttonLabel = "Authorize in App4Legal";
            }
            if(!licensed && isMicrosoftAuthorized && isApp4LegalAuthorized)
            {
                textLabel = "Subscribe to App4Legal and try again.";
                buttonLabel = "Authorize in App4Legal";
            }
        }
        <p class="text">@textLabel</p>
        <button class="btn" id="meet-now-button" type="button" style="width: auto; font:regular 12px;">@buttonLabel</button>
    </div>

    <div class="modal" tabindex="-1" role="dialog" id="popUpModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content container">
                <div class="modal-header">
                    <h5 class="modal-title text">Information</h5>
                </div>
                <div class="modal-body">
                    <p class="text" id="messagePopUp"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>*@
</body>
</html>