﻿@using app4legal_msteams_core.Models
@{
    ViewBag.Title = "ChannelTab";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>App4Legal</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/css/bootstrap/css/bootstrap.min.css">
    <script src="~/js/jquery-3.4.1.min.js"></script>
    <script src="~/css/bootstrap/js/bootstrap.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="~/js/apiRequests.js"></script>
    <script src="~/js/globalFunc.js"></script>
    <link href="~/css/select2-bootstrap4-theme/dist/select2-bootstrap4.css" rel="stylesheet">
    <link rel="stylesheet" href="~/js/select2/css/select2.css">
    <script src="~/js/select2/js/select2.js"></script>
    <link rel="stylesheet" href="~/css/bootstrap-select/dist/css/bootstrap-select.min.css">
    <script src="~/css/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
    <script src="~/js/Colors.js"></script>
    <link href="~/css/Styles.css" rel="stylesheet">
    <link rel="stylesheet" href="https://static2.sharepointonline.com/files/fabric/office-ui-fabric-js/1.4.0/css/fabric.min.css" />
    <link rel="stylesheet" href="https://static2.sharepointonline.com/files/fabric/office-ui-fabric-js/1.4.0/css/fabric.components.min.css" />
    <script src="https://static2.sharepointonline.com/files/fabric/office-ui-fabric-js/1.4.0/js/fabric.min.js"></script>
    <!-- Microsoft Teams JavaScript API (via CDN) -->
    <script src="https://statics.teams.cdn.office.net/sdk/v1.8.0/js/MicrosoftTeams.min.js" integrity="sha384-5ilKjPffKMvf1YelNqWjOhy5WJC9rkHpgF9pASMY/eRFlb619wOrCGMVIg/a/71o" crossorigin="anonymous"></script>

    @{
        bool isContract = ViewBag.isContract;
    }
<script>
        $(document).ready(function () {
            var teamId;
            var channelId;
            var channelName;
            microsoftTeams.initialize();
            microsoftTeams.getContext(function (context) {

                if (context) {
                    var mail = context.upn;
                    var loggedMail = "@Html.Raw(ViewBag.mail)";
                    if (loggedMail != null && mail != null) {
                        if (loggedMail.localeCompare(mail) != 0) {
                            var url = window.location.origin + "/login/MsUserChanged";
                            var model = { teamsMail: mail, serverMail: loggedMail };
                            $.post(url, model, function (result) {
                            });
                        }
                        else {
                            document.body.hidden = false;
                        }
                    }
                }
                teamId = context.teamId;
                channelId = context.channelId;
                channelName = context.channelName;

                try {
                    //Initialize radio buttons
                    var ChoiceFieldGroupElements = document.querySelectorAll(".ms-ChoiceFieldGroup");
                    for (var i = 0; i < ChoiceFieldGroupElements.length; i++) {
                        new fabric['ChoiceFieldGroup'](ChoiceFieldGroupElements[i]);
                    }

                    var filesUrl = "@Url.Action("GetChannelFiles", "Setup")";
                    var model = { teamId: teamId, channelId: channelId, channelName: channelName };

                    var url = "@Url.Action("RetriveCaseIdFromChannelId", "Setup")";
                    $.post(url, model, function (response) {
                    });


                    var exportFilesButton = $("#exportFilesButton");
                    exportFilesButton.addClass("active");
                    $.post(filesUrl, model, function (response) {
                        try {
                            exportFilesButton.removeClass("active");
                            exportFilesButton.attr("disabled", true);

                            var parsedResponse = JSON.parse(response);
                            parsedResponse.forEach(item => {
                                var imgSource = "";
                                var mimeType = "";
                                if (item.file != null)
                                    mimeType = item.file.mimeType;
                                else {
                                    if (item.package != null)
                                        mimeType = item.package.type;
                                }
                                if (mimeType.length > 0) {
                                    if (mimeType.includes("image/"))
                                        imgSource = "@Html.Raw(@Url.Content("~/Images/picture.svg"))";
                                    else {
                                        switch (mimeType) {
                                            case "text/html":imgSource = "@Html.Raw(@Url.Content("~/Images/html.svg"))";break;
                                            case "application/pdf":imgSource = "@Html.Raw(@Url.Content("~/Images/pdf.svg"))"; break;
                                            case "application/vnd.openxmlformats-officedocument.wordprocessingml.document":
                                                imgSource = "@Html.Raw(@Url.Content("~/Images/word.svg"))";break;
                                            case "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet":
                                                imgSource = "@Html.Raw(@Url.Content("~/Images/excel.svg"))";break;
                                            case "application/vnd.openxmlformats-officedocument.presentationml.presentation":
                                                imgSource = "@Html.Raw(@Url.Content("~/Images/powerpoint.svg"))";break;
                                            case "oneNote":
                                                imgSource = "@Html.Raw(@Url.Content("~/Images/onenote.svg"))";break;
                                            default:
                                                imgSource = "@Html.Raw(@Url.Content("~/Images/blank.svg"))"; break;
                                        }
                                    }
                                }
                                var fileItemHtml =
                                    '<td class="ms-CheckBox" style="text-align:left;">' +
                                    '<input type="checkbox" tabindex="-1" class="ms-CheckBox-input" id="' + item.id + '" onclick="fileDidSelected()">' +
                                    '<img src="' + imgSource + '" style="width: 20px; height: 20px; margin-top: 8px; margin-right: 10px;">' +
                                    '<label role="checkbox" class="ms-CheckBox-field ' + ((((((item.size) / 1024) / 1024).toFixed(1)) > 49.9) ? 'is-disabled' : '') + '" tabindex="0" aria-checked="false" name="checkboxa" id="memberName' + item.id + '"> <span class="ms-Label text">' + item.name + '</span></label>' +
                                    '</td>' +
                                    '<td class="text" style="text-align:center;">'
                                    + ((item.size) / 1024).toFixed(1) +
                                    '</td>';
                                addElement("filesContainer", "tr", "check" + item.id, fileItemHtml);
                            });
                            var CheckBoxElements = document.querySelectorAll(".ms-CheckBox");
                            for (var i = 0; i < CheckBoxElements.length; i++) {
                                new fabric['CheckBox'](CheckBoxElements[i]);
                            }
                        }
                        catch (err) {
                        }
                    });
                }
                catch (err) {
                    console.log(err);
                }
            });
            setupTheme();
            $("#exportConversationButton").click(function () {
                var button = $("#exportConversationButton");
                var noteTitle = $("#inputTitle").val();
                if ((noteTitle.trim()).length != 0) {
                    var url = "@Url.Action("ExportChannelMessages", "Setup")";
                    try {
                        var isFullChecked = $("#fullConv").is(':checked');
                        var isSyncChecked = $("#syncConv").is(':checked');
                        if (!isFullChecked && !isSyncChecked) {
                            showErrorMsg("Please select exportation method.", null, button);
                            return;
                        }
                        button.addClass("active");
                        $("#checkingInfo").show(500);
                        var model = { teamId: teamId, channelId: channelId, channelName: channelName, noteTitle: noteTitle, isFullConversation: isFullChecked, isContract: "@Html.Raw(isContract)" };
                        $.post(url, model, function (response) {
                            switch (response) {
                                case "NotFound": {
                                    showErrorMsg("Something went wrong, please try again later!", null, button);
                                } break;
                                case "Updated": {
                                    showErrorMsg("No new messages found!", null, button);
                                } break;
                                case "NotSupported": {
                                    showErrorMsg("Notes for this type not supported yet!", null, button);
                                } break;
                                default:
                                {
                                    showErrorMsg("Channel conversation exported successfully", response, button);
                                }
                            }
                        });
                    }
                    catch (error) {
                        showErrorMsg("Something went wrong, please try again later!", null, button);
                    }
                }
                else {
                    showErrorMsg("Please enter a Note title!", null, button);
                }
            });
            $("#exportFilesButton").click(function () {
                var button = $("#exportFilesButton");
                $("#checkingFilesInfo").show(500);
                button.addClass("active");
                var CheckBoxElements = document.querySelectorAll(".ms-CheckBox");
                try {
                    var filesId = [];
                    for (var i = 0; i < CheckBoxElements.length; i++) {
                        if (CheckBoxElements[i].children[0].checked)
                            filesId.push(CheckBoxElements[i].children[0].id);
                    }
                    var url = "@Url.Action("ExportChannelFiles", "Setup")";
                    var model = { filesID: filesId, isContract: "@Html.Raw(isContract)" };
                    $.post(url, model, function (response) {
                        if (response == "Error")
                            showErrorMsg("Something went wrong, please try again later", null, button);
                        else {
                            showErrorMsg(response, null, button)
                        }
                    });
                }
                catch (err) {
                    alert(err)
                }
            });
            var inputs = document.querySelectorAll('.inputText');
            inputs.forEach(element => {
                element.addEventListener("focusin", focusIn);
                element.addEventListener("focusout", focusOut);
            });
        });
        const focusIn = e => {
            $('#' + e.target.id).addClass('focusIn');
        };
        const focusOut = e => {
            $('#' + e.target.id).removeClass('focusIn');
        };
        function fileDidSelected() {
            var selectedCount = 0;
            var CheckBoxElements = document.querySelectorAll(".ms-CheckBox");
            try {
                for (var i = 0; i < CheckBoxElements.length; i++) {
                    if (CheckBoxElements[i].children[0].checked)
                        selectedCount++;
                }
                if (selectedCount > 0) {
                    $("#selectedCountLabel").html("(" + selectedCount + ") Selected");
                }
                else
                    $("#selectedCountLabel").html("");
                $("#exportFilesButton").attr("disabled", !Boolean(selectedCount));
            }
            catch (err) {
                alert(err)
            }
        }
        function showErrorMsg(msg, url, button) {
            $("#popUpModal").modal("show");
            if (url != null) {
                var caseId = "";
                if (url.length > 0) {
                    var indexCaseId = url.lastIndexOf("/");
                    caseId = url.substring(indexCaseId + 1, url.length);
                }
                $("#messagePopUp").html(msg + '.<a name="' + url + '" href="" onclick="openCasePage(this, event)" > Case Id: ' + caseId + '</a > ');
            }
            else {
                $("#messagePopUp").html(msg);
            }
            $("#checkingInfo").hide();
            $("#checkingFilesInfo").hide();
            button.removeClass("active");
        }
        function openCasePage(anchor, event) {
            event.preventDefault();
            var url = anchor.name;
            window.open(url);
        }
        function setupTheme() {

            microsoftTeams.getContext((context) => {
                var textLabels = document.querySelectorAll('.text');
                var container = $('.container');
                var itemsList = document.querySelectorAll('.list-group-item');
                if (textLabels != null) {
                    textLabels.forEach(element => {
                        element.style.color = (context.theme === 'default') ? appBlack : '#fff';
                    });
                }
                if (itemsList != null && itemsList.length != 0) {
                    itemsList.forEach(element => {
                        element.style.backgroundColor = (context.theme === 'default') ? '#fff' : appBlack;
                        element.style.borderColor = (context.theme !== 'contrast') ? appGray : '#fff';
                    });
                }
                if (context.theme !== 'default') {
                    document.body.style.backgroundColor = appBlack;
                    container.css('backgroundColor', appBlack);
                }
                else {
                    document.body.style.backgroundColor = appGray;
                    container.css('backgroundColor', appGray);
                }
            });

            microsoftTeams.registerOnThemeChangeHandler((theme) => {

                var textLabels = document.querySelectorAll('.text');
                var container = $('.container');
                var itemsList = document.querySelectorAll('.list-group-item');
                if (textLabels != null) {
                    textLabels.forEach(element => {
                        element.style.color = (theme === 'default') ? appBlack : '#fff';
                    })
                }
                if (itemsList != null && itemsList.length != 0) {
                    itemsList.forEach(element => {
                        element.style.backgroundColor = (theme === 'default') ? '#fff' : appBlack;
                        element.style.borderColor = (theme !== 'contrast') ? appGray : '#fff';
                    })
                }
                if (theme !== 'default') {
                    document.body.style.backgroundColor = appBlack;
                    container.css('backgroundColor', appBlack);
                }
                else {
                    document.body.style.backgroundColor = appGray;
                    container.css('backgroundColor', appGray);
                }
            });
        }
        function addElement(parentId, elementTag, elementId, html) {
            // Adds an element to the document
            try {
                var p = document.getElementById(parentId);
                var newElement = document.createElement(elementTag);
                newElement.innerHTML = html;
                p.appendChild(newElement);
                setupTheme();
            }
            catch (exc) {
                alert(exc);
            }
        }

</script>
    <style>
        .row {
            width: 100%;
        }

        .btn {
            width: auto;
        }

        .active {
            width: 2rem;
        }

        .form-control:focus {
            border-color: #6264a7;
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.0);
        }

        .focusIn {
            border-bottom: solid 3px #6264a7;
        }

        .scrollit {
            overflow: auto;
            max-height: 250px;
        }
    </style>
</head>
<body>
    <partial name="_MenuBar" />

    @{
        if (!ViewBag.isContract)
        {
            <div class="form-group row justify-content-center">
                <p class="text">You can export the channel conversation as a note and the channel files as attachments to the related matter.</p>
            </div>
            <div class="form-group row justify-content-center">
                <img src="~/Images/cloudexport.svg" style="width: 40%; height: 40%" />
            </div>
        }
        else
        {
            <div class="form-group row justify-content-center">
                <p class="text">You can export the channel files as attachments to the related contract.</p>
            </div>
        }
    }
    <div class="form-group row justify-content-center">
        @{
            if (!ViewBag.isContract)
            {
                <div class="form-group formItems col-md-6">
                    <table class="table table-bordered table-condensed table-hover table-striped text-center">
                        <tr>
                            <th id="labelApp4LegalUrl" class="text" colspan="2">Note Title</th>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <input type="text" class="form-control container inputText text" id="inputTitle" placeholder="Enter Title">
                                <div class="ms-ChoiceFieldGroup container" id="choicefieldgroup" role="radiogroup">
                                    <div class="ms-ChoiceFieldGroup-title">
                                        <label class="ms-Label is-required text">Choose exportation method</label>
                                    </div>
                                    <ul class="ms-ChoiceFieldGroup-list">
                                        <li class="ms-RadioButton">
                                            <input tabindex="-1" type="radio" class="ms-RadioButton-input" id="fullConv">
                                            <label role="radio" class="ms-RadioButton-field" tabindex="0" aria-checked="false" name="choicefieldgroup">
                                                <span class="ms-Label text">Full conversation</span>
                                            </label>
                                        </li>
                                        <li class="ms-RadioButton">
                                            <input tabindex="-1" type="radio" class="ms-RadioButton-input" id="syncConv">
                                            <label role="radio" class="ms-RadioButton-field text" tabindex="0" aria-checked="false" name="choicefieldgroup">
                                                <span class="ms-Label text">Last updated conversation</span>
                                            </label>
                                        </li>
                                    </ul>
                                </div>
                                <div class="form-group row justify-content-center">
                                    <p id="checkingInfo" class="text" style="display: none;">Exporting conversation. This may take a while...</p>
                                </div>
                                <div class="form-group row justify-content-center">
                                    <button class="btn" id="exportConversationButton" style="margin-left: 30px;">Export Conversation</button>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            }
        }

        <div class="form-group formItems col-md-6">
            <div class="scrollit">
                <table class="table table-bordered table-condensed table-hover table-striped text-center">
                    <thead>
                        <tr>
                            <th class="text">Channel Files</th>
                            <th class="text">Size in KB</th>
                        </tr>
                    </thead>
                    <tbody id="filesContainer">
                    </tbody>
                </table>
            </div>
            <div class="form-group row justify-content-center">
                <p id="checkingFilesInfo" class="text" style="display: none;">Exporting Files. This may take a while...</p>
            </div>
            <div class="form-group row">
                <div class="col-sm-5">
                    <label class="text" style="font-size: 12px;">Max File size limit = 50MB</label>
                </div>
                <div class="col-sm-4">
                    <button class="btn" id="exportFilesButton">Export Files</button>
                </div>
                <div class="col-sm-3">
                    <label class="text" id="selectedCountLabel" style="margin-top: 5px;"></label>
                </div>
            </div>
        </div>
    </div>

    <div class="modal" tabindex="-1" role="dialog" id="popUpModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content container">
                <div class="modal-header">
                    <h5 class="modal-title text">Information</h5>
                </div>
                <div class="modal-body">
                    <p class="text" id="messagePopUp"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light" style="background-color:whitesmoke; color:black; width: 8rem;" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</body>

</html>