﻿@{
    Layout = null;
}
<html>
<head>
    <title>App4Legal For Teams</title>
</head>
<body>
    <div id="content"></div>
    <script crossorigin="anonymous" src="https://cdnjs.cloudflare.com/ajax/libs/react/16.13.0/umd/react.development.js"></script>
    <script crossorigin="anonymous" src="https://cdnjs.cloudflare.com/ajax/libs/react-dom/16.13.0/umd/react-dom.development.js"></script>
    <link rel="stylesheet" href="https://static2.sharepointonline.com/files/fabric/office-ui-fabric-js/1.4.0/css/fabric.min.css" />
    <link rel="stylesheet" href="https://static2.sharepointonline.com/files/fabric/office-ui-fabric-js/1.4.0/css/fabric.components.min.css" />
    <script src="https://static2.sharepointonline.com/files/fabric/office-ui-fabric-js/1.4.0/js/fabric.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/remarkable/1.7.1/remarkable.min.js"></script>
    <script src="@Url.Content("~/dist/Configuration.js")"></script>
</body>
</html>











<!--<!DOCTYPE html>
<html lang="en">
<head>
    <title>Configuration Page</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/css/bootstrap/css/bootstrap.min.css">
    <script src="~/js/jquery-3.4.1.min.js"></script>
    <script src="~/css/bootstrap/js/bootstrap.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="~/js/apiRequests.js"></script>
    <script src="~/js/globalFunc.js"></script>
    <link href="~/css/select2-bootstrap4-theme/dist/select2-bootstrap4.css" rel="stylesheet">
    <link rel="stylesheet" href="~/js/select2/css/select2.css">
    <script src="~/js/select2/js/select2.js"></script>
    <link rel="stylesheet" href="~/css/bootstrap-select/dist/css/bootstrap-select.min.css">
    <script src="~/css/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
    <script src="~/js/Colors.js"></script>
    <link href="~/css/Styles.css" rel="stylesheet">-->
<!-- Microsoft Teams JavaScript API (via CDN) -->
<!--<script src="https://statics.teams.cdn.office.net/sdk/v1.8.0/js/MicrosoftTeams.min.js" integrity="sha384-5ilKjPffKMvf1YelNqWjOhy5WJC9rkHpgF9pASMY/eRFlb619wOrCGMVIg/a/71o" crossorigin="anonymous"></script>

    <script>
        $(document).ready(function () {
            microsoftTeams.initialize();
            $("#noAccess").click(function () {
                document.getElementById('accessText').innerHTML = 'No access granted';
                document.querySelectorAll('.btn').forEach(elem => {
                    elem.style.color = '#fff';
                });
                $(this).css("color", "#000");
                microsoftTeams.settings.setValidityState(true);
                saveGray();
            });

            $("#filesAccess").click(function () {
                document.getElementById('accessText').innerHTML = 'Files access only';
                document.querySelectorAll('.btn').forEach(elem => {
                    elem.style.color = '#fff';
                });
                $(this).css("color", "#000");
                microsoftTeams.settings.setValidityState(true);
                saveGray();
            });

            $("#messagesAccess").click(function () {
                document.getElementById('accessText').innerHTML = 'Messages access only';
                document.querySelectorAll('.btn').forEach(elem => {
                    elem.style.color = '#fff';
                });
                $(this).css("color", "#000");
                microsoftTeams.settings.setValidityState(true);
                saveGray();
            });

            $("#fullAccess").click(function () {
                document.getElementById('accessText').innerHTML = 'Messages and Files access granted';
                document.querySelectorAll('.btn').forEach(elem => {
                    elem.style.color = '#fff';
                });
                $(this).css("color", "#000");
                microsoftTeams.settings.setValidityState(true);
                saveGray();
            });
        });
        const getId = () => {
            let urlParams = new URLSearchParams(document.location.search.substring(1));
            let blueTeamId = urlParams.get('team');
            return blueTeamId
        }
        function getChannelId() {
            let urlParams = new URLSearchParams(document.location.search.substring(1));
            let blueTeamId = urlParams.get('channel');
            return blueTeamId
        }
        function saveGray() {
            microsoftTeams.settings.registerOnSaveHandler((saveEvent) => {
                microsoftTeams.settings.setSettings({
                    websiteUrl: "@Html.Raw(Globals.DomainUri)",
                    contentUrl: "@Html.Raw(Globals.RedirectUri)" + "Setup/ChannelTab",
                    entityId: "channelTab",
                    suggestedDisplayName: "App4Legal"
                });
                saveEvent.notifySuccess();
            });
        }
    </script>
    <style>
        .row {
            width: 99%;
        }

        .btn {
            font-size: 0.75rem;
            color: white;
            margin: 10px auto;
            width: 15rem;
        }
    </style>
</head>
<body>
    <p>Choose the permission granted to App4Legal for exporting channel's messages and files</p>
    <div class="row">
        <button class="btn" id="noAccess">No access</button>
    </div>
    <div class="row">
        <button class="btn" id="filesAccess">Grant Files access</button>
    </div>
    <div class="row">
        <button class="btn" id="messagesAccess">Grant Messages access</button>
    </div>
    <div class="row">
        <button class="btn" id="fullAccess">Grant All</button>
    </div>
    <br>
    <div><p id="accessText"></p></div>

</body>

</html>-->
