﻿@using app4legal_msteams_core.Models
@model UserModel
@{
    ViewBag.Title = "Index";
}

<!DOCTYPE html>
<html>
<!-- saved from url=(0014)about:internet -->
<head>
    <title>Setup</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/css/bootstrap/css/bootstrap.min.css">
    <script src="~/js/jquery-3.4.1.min.js"></script>
    <script src="~/css/bootstrap/js/bootstrap.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="~/js/apiRequests.js"></script>
    <script src="~/js/globalFunc.js"></script>
    <link href="~/css/select2-bootstrap4-theme/dist/select2-bootstrap4.css" rel="stylesheet">
    <link rel="stylesheet" href="~/js/select2/css/select2.css">
    <script src="~/js/select2/js/select2.js"></script>
    <link rel="stylesheet" href="~/css/bootstrap-select/dist/css/bootstrap-select.min.css">
    <script src="~/css/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
    <script src="~/js/Colors.js"></script>
    <link href="~/css/Styles.css" rel="stylesheet">
    <link rel="stylesheet" href="https://static2.sharepointonline.com/files/fabric/office-ui-fabric-js/1.4.0/css/fabric.min.css" />
    <link rel="stylesheet" href="https://static2.sharepointonline.com/files/fabric/office-ui-fabric-js/1.4.0/css/fabric.components.min.css" />
    <script src="https://static2.sharepointonline.com/files/fabric/office-ui-fabric-js/1.4.0/js/fabric.min.js"></script>
    <!-- Microsoft Teams JavaScript API (via CDN) -->
    <script src="https://statics.teams.cdn.office.net/sdk/v1.8.0/js/MicrosoftTeams.min.js" integrity="sha384-5ilKjPffKMvf1YelNqWjOhy5WJC9rkHpgF9pASMY/eRFlb619wOrCGMVIg/a/71o" crossorigin="anonymous"></script>

    <script>
        $(document).ready(function () {
            microsoftTeams.initialize();
            document.body.hidden = true;
            microsoftTeams.getContext(function (context) {
                if (context) {
                    var mail = context.upn;
                    var loggedMail = "@Html.Raw(ViewBag.mail)";
                    if (loggedMail != null && mail != null) {
                        if (loggedMail.localeCompare(mail) != 0) {
                            var url = window.location.origin + "/login/MsUserChanged";
                            var model = { teamsMail: mail, serverMail: loggedMail };
                            $.post(url, model, function (result) {
                            });
                        }
                        else {
                            document.body.hidden = false;
                        }
                    }
                }
            });
            setupTheme();
            var CheckBoxElements = document.querySelectorAll(".ms-CheckBox");
            for (var i = 0; i < CheckBoxElements.length; i++) {
                try {
                        showComponentLoader(CheckBoxElements[i]);
                        CheckBoxElements[i].addEventListener('change', function () {
                        var isChecked = false;
                        var item = this;
                        try {
                            var inputId = this.children[0].getAttribute("id");
                            showComponentLoader(item);
                            isChecked = $('#' + inputId).is(':checked');
                        }
                        catch (err) {
                            showErrorMsg(err);
                        }
                        switch (inputId) {
                            case "archiveFiles":
                                {
                                    try {
                                        $.ajax({
                                            type: 'POST',
                                            url: '/Setup/ArchiveFilesSelection',
                                            dataType: 'json',
                                            data:
                                            {
                                                isChecked: isChecked
                                            },
                                            success: function (response) {
                                                hideComponentLoader(item);
                                                if (response.code != "Success") {
                                                    showErrorMsg("Something wrong, changes not saved, please try again later!")
                                                }
                                            },
                                            error: function (response) {
                                                hideComponentLoader(item);
                                                var respStatus = JSON.parse(response.responseText);
                                                if (response.status != 200 || respStatus.code == "Error") {
                                                    showErrorMsg("Something wrong, changes not saved, please try again later!")
                                                }
                                            }
                                        });
                                    }
                                    catch (err) {
                                        showErrorMsg(err)
                                    }
                                } break;
                            default: break;
                        }

                    });
                }
                catch (err) {
                    showErrorMsg(err)
                }
            }
            $.ajax({
                type: 'GET',
                url: '/Setup/getArchivedFilesStatus',
                success: function (response) {
                    try {
                        var archivedCheckBoxElement = document.querySelector(".ms-CheckBox.archFiles");
                        hideComponentLoader(archivedCheckBoxElement);
                        if (Boolean(response))
                            new fabric['CheckBox'](archivedCheckBoxElement).check();
                        else
                            new fabric['CheckBox'](archivedCheckBoxElement).unCheck();
                    }
                    catch (err) {
                        console.log(err);
                    }
                },
                error: function (error) {

                }
            });
            //languageSelected();
            //$('#languagemodal').on('show.bs.modal', function (e) {
            //    e.target; // newly activated tab
            //    e.relatedTarget; // previous active tab
            //    languageSelected();
            //})
            $("#language-list li.list-group-item").click(function () {
                var langName = $(this).attr("name");
                //window.external.MethodScriptChangeLanguage(langName);
                $('#languagemodal').modal('hide');

            });
            $('#Language').on('change', function () {
                var lang = $("#Language").val();
                //window.external.MethodScriptChangeLanguage(lang);
            });
            $("#btnLgout").click(function (e) {
                e.preventDefault();
                $(this).addClass('active');
                var url = "@Url.Action("Logout", "Setup")";
                $.get(url, function (result) {
                    if (result) {
                        let url = "@Url.Action("SignIn", "Login")";
                        window.location.href = url;
                    }
                    else {
                        $(this).removeClass('active');
                        showErrorMsg("Something went wrong! Please try again later.");
                    }
                });
            });
            if ("@Html.Raw(@Model.organizationName)" == "Organization name")
            {
                $("#OrganizationName").hide();
            }
            //function RestElement() {
            //    try {
            //        document.getElementById("errorMsg").value = "";
            //    } catch (e) { }
            //}

            //function openModal() {

            //    $('#languagemodal').modal("show");
            //}
            //function errorAlert(msg) {
            //    try {
            //        var alertMessage = "<div style=\"position: fixed;right: 0;top: 0;width: 98 %;z-index: 9999;\" id=\"matter\" class=\"alert alert-danger alert-dismissible fade show matter-alert\" role=\"alert\">" +
            //            "<h4 id=\"alert-title\" class=\"alert-heading\"></h4>" +
            //            "<p id=\"alert-message\">" + msg + "</p>" +
            //            "<!--<p class=\"mb-0\">Whenever you need to, be sure to use margin utilities to keep things nice and tidy.</p>-->" +
            //            "<button type=\"button\" class=\"close\" data-dismiss=\"alert\" aria-label=\"Close\">" +
            //            "<span aria-hidden=\"true\">&times;</span>" +
            //            "</button>" +
            //            "</div>";
            //        $("body").append(alertMessage);
            //        setTimeout(function () { $(".matter-alert").hide(); }, 3000);
            //    } catch (e) {
            //    }
            //}

        });
        //function languageSelected() {
        //    $("#language-list li.list-group-item.list-group-item-action").removeClass("active");
        //    var selectedLanguage = window.external.MethodScriptGetselectedLanguage();
        //    if (selectedLanguage)
        //        $("#language-list li.list-group-item.list-group-item-action[name=" + selectedLanguage + "]").addClass("active");
        //}
        function showComponentLoader(item) {
            var parentId = item.getAttribute('id');
            $('#' + parentId).css('pointer-events', 'none');
            var itemId = 'loader' + parentId;
            var html = '<button class="btn active" type="button"></button>';
            var style = 'float: right;';
            addElement(parentId, 'div', itemId, html, style);
        }
        function hideComponentLoader(item) {
            var parentId = item.getAttribute('id');
            $('#' + parentId).css('pointer-events', 'all');
            var itemId = 'loader' + parentId;
            removeElement(itemId);
        }
        function addElement(parentId, elementTag, elementId, html, style) {
            // Adds an element to the document
            var p = document.getElementById(parentId);
            var newElement = document.createElement(elementTag);
            newElement.setAttribute('id', elementId);
            newElement.setAttribute('style', style);
            newElement.innerHTML = html;
            p.appendChild(newElement);
        }
        function removeElement(elementId) {
            // Removes an element from the document
            var element = document.getElementById(elementId);
            element.parentNode.removeChild(element);
        }
        function setupTheme() {

            microsoftTeams.getContext((context) => {
                var textLabels = document.querySelectorAll('.text');
                var container = $('.container');
                var itemsList = document.querySelectorAll('.list-group-item');
                if (textLabels != null) {
                    textLabels.forEach(element => {
                        element.style.color = (context.theme === 'default') ? appBlack : '#fff';
                    });
                }
                if (itemsList != null && itemsList.length != 0) {
                    itemsList.forEach(element => {
                        element.style.backgroundColor = (context.theme === 'default') ? '#fff' : appBlack;
                        element.style.borderColor = (context.theme !== 'contrast') ? appGray : '#fff';
                    });
                }
                if (context.theme !== 'default') {
                    document.body.style.backgroundColor = appBlack;
                    container.css('backgroundColor', appBlack);
                }
                else {
                    document.body.style.backgroundColor = appGray;
                    container.css('backgroundColor', appGray);
                }
            });

            microsoftTeams.registerOnThemeChangeHandler((theme) => {

                var textLabels = document.querySelectorAll('.text');
                var container = $('.container');
                var itemsList = document.querySelectorAll('.list-group-item');
                if (textLabels != null) {
                    textLabels.forEach(element => {
                        element.style.color = (theme === 'default') ? appBlack : '#fff';
                    })
                }
                if (itemsList != null && itemsList.length != 0) {
                    itemsList.forEach(element => {
                        element.style.backgroundColor = (theme === 'default') ? '#fff' : appBlack;
                        element.style.borderColor = (theme !== 'contrast') ? appGray : '#fff';
                    })
                }
                if (theme !== 'default') {
                    document.body.style.backgroundColor = appBlack;
                    container.css('backgroundColor', appBlack);
                }
                else {
                    document.body.style.backgroundColor = appGray;
                    container.css('backgroundColor', appGray);
                }
            });
        }
        function showErrorMsg(msg, additionalData, showYesButton) {
            $("#popUpModal").modal("show");
            $("#messagePopUp").html(msg);
            if (Boolean(showYesButton)) {
                $("#yesButton").show();
                $("#yesButton").html("Next");
                $("#closePopUp").html("Close");
                setupTheme();
            }
        }
    </script>

    <style>
        #ProfileImage {
            max-height: 80px;
            max-width: 80px;
        }

        .media-body {
            vertical-align: middle;
        }

            .media-body h4 {
                color: #3498db;
                font-size: 26px;
                font-weight: 700;
            }

            .media-body p {
                font-size: 17px;
                color: #353535;
            }

        .header-container {
            padding-top: 20px;
            position: relative;
        }

        .list-group img {
            margin-right: 7px;
        }

        .badge {
            display: inline-block;
            min-width: 10px;
            padding: 3px 7px;
            font-size: 12px;
            font-weight: 700;
            line-height: 2;
            color: #fff;
            text-align: center;
            white-space: nowrap;
            vertical-align: middle;
            background-color: #fff;
            border-radius: 10px;
        }

        li:hover {
            border-left: #6264a7 3px solid;
            border-left-color: #6264a7;
            text-decoration: none;
        }

        #DisplayName {
            color: #6264a7;
            font-size: 26px;
            font-weight: 700;
        }

        .fa-chevron-right:before {
            content: "\f054";
            position: absolute;
            top: 37%;
            right: 30px;
            color: #000000;
        }

        a:hover {
            text-decoration: none;
        }

        ul li {
            cursor: pointer;
        }
    </style>
</head>
<body>
    <div class="container-fluid container">
        <div class="row">
            <div class="col-sm-9 header-container">
                <ul class="media-list" style="padding-left:0;">
                    <li class="media">
                        <div class="media-left">
                            <p style="text-align:center;">
                                <img id="ProfileImage" src="@Url.Content(@Model.imagePath)" class="rounded-circle img-thumbnail">
                            </p>
                        </div>
                        <div class="media-body" style="margin-left: 15px;">
                            <h4 class="media-heading text" id="DisplayName">@Model.displayName</h4>
                            <h6 id="CloudUrl" class="text">@Model.credentials.userUrl</h6>
                            <small id="OrganizationName" class="text">@Model.organizationName</small>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="col-sm-3 header-container" style="text-align:right;">
                <button class="btn" id="btnLgout" type="button"> Log out</button>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 list-features">
                <ul class="list-group">
                    <li style="height:100%" class="list-group-item list-group-item-action">
                        <div class="ms-CheckBox archFiles" id="archFiles">
                            <input tabindex="-1" type="checkbox" class="ms-CheckBox-input" id="archiveFiles">
                            <label role="checkbox" class="ms-CheckBox-field" tabindex="0" name="checkboxc">
                                <span class="ms-Label text">Archive channel files upon channel automatic deletion</span>
                            </label>
                        </div>
                    </li>

                    @*<li style="height:100%" class="list-group-item list-group-item-action" id="list-profile-list">
                            <img src="../images/insurance.svg" height="30" width="25">
                            <label id="lbLicence">Add License</label> <span id="licenceMsg"></span>
                            <span style="height:100%;color:darkred;font-size: small;" id="blockMsg"></span>
                            <i class="fa fa-chevron-right" aria-hidden="true"></i>
                        </li>

                        <li style="height:100%" class="list-group-item list-group-item-action" id="btnCheckForUpdates">
                            <img src="../images/system-update.svg" height="30" width="25">
                            <label id="lblupdate">Check For Update</label> <span style="font-size:small" id="newVersionMsg"></span>
                            <button type="button" class="btn btn-primary btn-sm" style="display:none" id="btnUpdate">Update</button>
                            <i class="fa fa-chevron-right" aria-hidden="true"></i>
                        </li>

                        <li style="height:100%" class="list-group-item list-group-item-action" id="lnkcontact">
                            <img src="../images/customer-service.svg" height="30" width="25">
                            <label id="lblcontact"> Contact Support</label>
                            <i class="fa fa-chevron-right" aria-hidden="true"></i>
                        </li>

                        <li style="height:100%" class="list-group-item list-group-item-action" id="lnkDoc">
                            <img src="../images/folders.svg" height="30" width="25">
                            <label id="lbldocumentation">Documentation</label>
                            <i class="fa fa-chevron-right" aria-hidden="true"></i>
                        </li>

                        <li style="height:100%" class="list-group-item list-group-item-action" id="getLoggers">
                            <img src="../images/log-file.svg" height="30" width="25">
                            <label id="lbllogs">Get Logs</label>
                            <i class="fa fa-chevron-right" aria-hidden="true"></i>
                        </li>*@
                </ul>
            </div>
        </div>
        <div class="form-group ">
            <br />
            <div class="row">
                <div class="col-sm-6">
                    <span id="lblApp4LegalVersion" class="label-header"></span>
                    <span id="App4LegalVersion" class="label-value"></span>

                </div>
                <div class="col-sm-6" style="text-align:right;">
                    <span id="lblOTAVersion" class="label-header"></span>
                    <span id="OTAVersion" class="label-value"></span>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="languagemodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Choose Language</h5>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <ul class="list-group" id="language-list" role="tablist">
                                <li class="list-group-item list-group-item-action" name="English" id="English">English</li>
                                <li class="list-group-item list-group-item-action" name="French" id="French">French </li>
                                <li class="list-group-item list-group-item-action" name="Arabic" id="Arabic">Arabic</li>
                                <li class="list-group-item list-group-item-action" name="Spanich" id="Spanich">Spanish</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!--Pop-Up-->
    <div class="modal" tabindex="-1" role="dialog" id="popUpModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content container">
                <div class="modal-header">
                    <h5 class="modal-title text">Information</h5>
                </div>
                <div class="modal-body">
                    <p class="text" id="messagePopUp"></p>
                    <ul class="list-group list-group-flush" id="channels-list"></ul>
                </div>
                <div class="modal-footer">
                    <button id="closePopUp" class="btn btn-light" style="background-color:whitesmoke; color:black" data-dismiss="modal">Close</button>
                    <button id="yesButton" style="display: none;" class="btn">Yes</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

