﻿@{
    ViewData["Title"] = "App4Legal Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Learn more about<a href="https://www.app4legal.com/terms-conditions/">App4legal Terms and Conditions</a>.</p>
