﻿@using app4legal_msteams_core.Controllers
@model app4legal_msteams_core.Models.CredentialsModel
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Matter Index</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/css/bootstrap/css/bootstrap.min.css">
    <script src="~/js/jquery-3.4.1.min.js"></script>
    <script src="~/css/bootstrap/js/bootstrap.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="~/js/apiRequests.js"></script>
    <script src="~/js/globalFunc.js"></script>
    <link href="~/css/select2-bootstrap4-theme/dist/select2-bootstrap4.css" rel="stylesheet">
    <link rel="stylesheet" href="~/js/select2/css/select2.css">
    <script src="~/js/select2/js/select2.js"></script>
    <link rel="stylesheet" href="~/css/bootstrap-select/dist/css/bootstrap-select.min.css">
    <script src="~/css/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
    <script src="~/js/Colors.js"></script>
    <link href="~/css/Styles.css" rel="stylesheet">
    <!-- Microsoft Teams JavaScript API (via CDN) -->
    <script src="https://statics.teams.cdn.office.net/sdk/v1.8.0/js/MicrosoftTeams.min.js" integrity="sha384-5ilKjPffKMvf1YelNqWjOhy5WJC9rkHpgF9pASMY/eRFlb619wOrCGMVIg/a/71o" crossorigin="anonymous"></script>

    <script>
        var urla = "@Html.Raw(Model.userUrl)";
        var apikey = "@Html.Raw(Model.apiKey)";
        var matterCategory;
        var matterName;
        var data, model;
        $(document).ready(function () {
            microsoftTeams.initialize();
            document.body.hidden = true;
            microsoftTeams.getContext(function (context) {
                if (context) {
                    var mail = context.upn;
                    var loggedMail = "@Html.Raw(ViewBag.mail)";
                    if (loggedMail.length > 0 && mail.length > 0) {
                        if (loggedMail.localeCompare(mail) != 0) {
                            var url = window.location.origin + "/login/MsUserChanged";
                            var model = { teamsMail: mail, serverMail: loggedMail };
                            $.post(url, model, function (result) {
                            });
                        }
                        else {
                            document.body.hidden = false;
                        }
                    }
                }
            });
            try {
                setupTheme();
            }
            catch (err) {
                alert(err);
            }

            ajaxEventHandlerCheckAPIkey("matterName");
            $("#matterName").select2({
                theme: "bootstrap4",
                width: '100%',
                placeholder: "Select Matter",
                ajax: {
                    url: urla + "modules/api/cases/autocomplete",
                    beforeSend: function (request) {
                        request.setRequestHeader("x-api-key", "" + apikey + "");
                        request.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
                        request.setRequestHeader("x-api-channel", "microsoft-teams");
                    },
                    dataType: 'json',
                    type: "POST",
                    delay: 300,
                    data: function (params) {

                        var query = {
                            term: params.term,
                            "x-api-key": "" + apikey + "",


                        }
                        return query;
                    },
                    cache: false,
                    processResults: function (jdata) {
                        var error = jdata.error;
                        if (error) {
                            if (error.code == "refresh_key_required") {
                                var responseData = refreshToken();
                                var responseDataObj = JSON.parse(responseData);
                                var errorRefresh = responseDataObj.error;
                                var successRefresh = responseDataObj.success;
                                if (errorRefresh == "") {
                                    var newApiKey = successRefresh.data.key;
                                    apikey = newApiKey;
                                    var model = { apiKey : apikey };
                                    let url = "@Url.Action("RefreshApiKey","Login")";
                                    $.post(url, model, function (result) {
                                        if (result) {
                                            if (result == "failed") {

                                            }
                                            return;
                                        }
                                    });
                                    // window.external.MethodScriptSetNewApiKey(newApiKey);
                                    //return;
                                }
                            } else if (error.code == "unauthorized") {
                                // window.external.MethodScriptUnAutorizedUser();
                                // return;
                                let url = "@Url.Action("Unauthorized","Login")";
                                var controllerName = '@ViewContext.RouteData.Values["Controller"].ToString()';
                                var actionName = '@ViewContext.RouteData.Values["Action"].ToString()';
                                let redirectUrlModel = { controllerName: controllerName, actionName: actionName };
                                $.post(url, redirectUrlModel, function (result) {
                                    if (result) {
                                        let url = "@Url.Action("SignIn", "Login")";
                                        window.location.href = url;
                                        return;
                                    }
                                    else {
                                        return;
                                    }
                                    });
                                //return;

                            }
                        }
                        var results = [];
                        var users = jdata.success.data;
                        $.each(users, function (index, item) {
                            results.push({
                                id: item.id,
                                text: item.caseID + ": " + strip_html_tags(item.subject),
                                matterCategory: item.category
                            });
                        });
                        return {
                            results: results
                        };
                    }
                },
                templateResult: format,
                templateSelection: format
            });
            $("#matterName").on("select2:select", function (d) {
                var matterData = d.params.data;
                matterName = matterData.text;
                matterCategory = matterData.matterCategory;
                $("#meet-now-button").attr("disabled", false);
            });
            $("#meet-now-button").click(function(){
                // $("#loader").addClass("fa fa-spinner fa-spin");
                $("#matterName").focus();
                addLoader();
                setTimeout(function(){
                try
                {

                        setTimeout(function(){
                            //meetNow.addClass("success");

                            //Send data to the controller
                            var urls = "@Url.Action("Meet","Cases")";
                            var caseId = $("#matterName").val();
                            model = { CaseId: caseId, CaseName: matterName, CaseCategory: matterCategory };
                            $.post(urls, model, function (resp) {
                                try {
                                    var response = JSON.parse(resp);
                                    switch (response.code) {
                                        case "Error":
                                            showErrorMsg(response.message); break;
                                        case "CreateChannel":
                                            {
                                                var url = "@Url.Action("Create","Cases")";
                                                window.location.href = url;
                                            } break;
                                        case "RedirectToChannel":
                                            {
                                                showErrorMsg("Channel with same Matter Id: " + caseId + " already exists, Choose one to redirect to it or click Next to create a new one", response.message, true);
                                            } break;
                                        case "CreatingTeam":
                                            {
                                                $("#checkingInfo").html("Creating team for the first time. This may take a while, please wait...");
                                                urls = "@Url.Action("CreatingTeam", "Cases")";
                                                $.get(urls, function (resp) {
                                                    var response = JSON.parse(resp);
                                                    switch (response.code)
                                                    {
                                                        case "Error":
                                                            showErrorMsg(response.message); break;
                                                        case "CreateChannel":
                                                            {
                                                                var url = "@Url.Action("Create","Cases")";
                                                                window.location.href = url;
                                                            } break;
                                                        default:
                                                            showErrorMsg("Something wrong!"); break;
                                                    }
                                                });
                                            } break;
                                    }
                                }
                                catch (err) {
                                    showErrorMsg(err);
                                }
                            });

                        },1000);
                    }
                    catch(error){
                        showErrorMsg(err);
                    }
                },1000);
            });
             $("#yesButton").on("click", function (event) {
                event.stopPropagation();
                event.preventDefault();
                $("#popUpModal").modal("hide");
                addLoader();
                var url = "@Url.Action("DuplicateChannel","Cases")";
                $.post(url, model, function (response) {
                    checkResponse(response);
                });
            });
            $("#closePopUp").on("click", function (event) {
                event.stopPropagation();
                $("#popUpModal").modal("hide");
            });
        });
        function goToChannel(anchor) {
            microsoftTeams.executeDeepLink(anchor.name);
        }
         function addElement(parentId, elementTag, elementId, html) {
                    // Adds an element to the document
                    var p = document.getElementById(parentId);
                    var newElement = document.createElement(elementTag);
                    newElement.setAttribute('class','list-group-item');
                    newElement.innerHTML = html;
                    p.appendChild(newElement);
        }
        function removeElement(elementId) {
                    // Removes an element from the document
                    var element = document.getElementById(elementId);
                    element.parentNode.removeChild(element);
        }
        function strip_html_tags(str) {
            if ((str === null) || (str === ''))
                return false;
            else
                str = str.toString();
            return str.replace(/<[^>]*>/g, '');
        }
        function setupTheme() {

            microsoftTeams.getContext((context) => {
                var textLabels = document.querySelectorAll('.text');
                var container = $('.container');
                var itemsList = document.querySelectorAll('.list-group-item');

                if (textLabels != null) {
                    textLabels.forEach(element => {
                        element.style.color = (context.theme === 'default') ? appBlack : '#fff';
                    });
                }
                if (itemsList != null && itemsList.length != 0) {
                    itemsList.forEach(element => {
                        element.style.backgroundColor = (context.theme === 'default') ? '#fff' : appBlack;
                        element.style.borderColor = (context.theme !== 'contrast') ? appGray : '#fff';
                    });
                }
                if (context.theme !== 'default') {
                    document.body.style.backgroundColor = appBlack;
                    container.css('backgroundColor', appBlack);
                }
                else {
                    document.body.style.backgroundColor = appGray;
                    container.css('backgroundColor', appWhite);
                }
            });

            microsoftTeams.registerOnThemeChangeHandler((theme) => {

                var textLabels = document.querySelectorAll('.text');
                var container = $('.container');
                var itemsList = document.querySelectorAll('.list-group-item');

                if (textLabels != null) {
                    textLabels.forEach(element => {
                        element.style.color = (theme === 'default') ? appBlack : '#fff';
                    })
                }
                if (itemsList != null && itemsList.length != 0) {
                    itemsList.forEach(element => {
                        element.style.backgroundColor = (theme === 'default') ? '#fff' : appBlack;
                        element.style.borderColor = (theme !== 'contrast') ? appGray : '#fff';
                    });
                }
                if (theme !== 'default') {
                    document.body.style.backgroundColor = appBlack;
                    container.css('backgroundColor', appBlack);
                }
                else {
                    document.body.style.backgroundColor = appGray;
                    container.css('backgroundColor', '#fff');
                }
            });
        }
        function showErrorMsg(msg, additionalData, showYesButton) {
            $("#popUpModal").modal("show");
            $("#messagePopUp").html(msg);
            if (Boolean(showYesButton)) {
                $("#yesButton").show();
                $("#yesButton").html("Next");
                $("#closePopUp").html("Close");
                $("#channels-list").html(additionalData);
                setupTheme();
            }
            data = additionalData;
            removeLoader();
        }
        function addLoader() {
                $("#checkingInfo").show(500);
                $("#checkingInfo").html("Checking Matter Status...");
                $("#meet-now-button").addClass("active");
                $("#matterContainer").addClass("loading");
        }
        function removeLoader() {
                $("#checkingInfo").hide();
                $("#meet-now-button").removeClass("active");
                $("#matterContainer").removeClass("loading");
        }
        function checkResponse(resp) {
            try {
                var response = JSON.parse(resp);
                var code = response.code;
                switch (code) {
                    case "CreateChannel": {
                        var url = "@Url.Action("Create","Cases")";
                        window.location.href = url;
                    } break;
                }
            }
            catch (err) {
                console.log(err);
                if (resp.length != 0) {
                    showErrorMsg(resp);
                }
            }
        }
        function format(state) {
            var baseUrl;
            switch (state.matterCategory) {
                case "Litigation":
                    baseUrl = "@Html.Raw(Url.Content("~/Images/Litigation.svg"))"; break;
                case "Matter":
                    baseUrl = "@Html.Raw(Url.Content("~/Images/Matter.svg"))"; break;
                default:
                    baseUrl = "@Html.Raw(Url.Content("~/Images/lookup.svg"))"; break;
            }
            var $state = $(
                '<span><img class="InnerImg" src="' + baseUrl + '" /> ' + state.text + '</span>'
            );
            return $state;
        }
    </script>
    <style>
        .container.center_div {
            @*background-image: url( @Url.Content("~/Images/legalmeeting.svg") );
            background-position: center;
            background-size: inherit;*@
            box-shadow: 0 2px 5px 2px rgba(0,0,0,.24), 0 17px 50px 0 rgba(0,0,0,.19);
        }
    </style>
</head>
<body>
    <partial name="_MenuBar" />

    <div class="container center_div" id="matterContainer">

        <div class="form-group row justify-content-center">
            <h3 class="text">Select a matter to start a meeting</h3>
        </div>

        <div class="form-group row justify-content-center">
            <label for="caseField" class="col-form-label text">Matter Name</label>
            <div class="col-sm-6">
                <select class="form-control" id="matterName"></select>
            </div>
        </div>

        <div class="form-group row justify-content-center">
            <div class="col-md-4 text-center">
                <p id="checkingInfo" class="text">Checking Matter status...</p>
                <button class="btn" id="meet-now-button" type="button" style="margin-bottom: 30px; margin-top: 20px;" disabled>Go</button>
            </div>
        </div>

    </div>
    <!--Pop-Up-->
    <div class="modal" tabindex="-1" role="dialog" id="popUpModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content container">
                <div class="modal-header">
                    <h5 class="modal-title text">Information</h5>
                </div>
                <div class="modal-body">
                    <p class="text" id="messagePopUp"></p>
                    <ul class="list-group list-group-flush" id="channels-list"></ul>
                </div>
                <div class="modal-footer">
                    <button id="closePopUp" class="btn btn-light" style="background-color:whitesmoke; color:black">Close</button>
                    <button id="yesButton" style="display: none;" class="btn">Yes</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>