﻿@using app4legal_msteams_core.Controllers
@using app4legal_msteams_core.Models
@model app4legal_msteams_core.Models.ContractMeetModel
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Contract Meet</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/css/bootstrap/css/bootstrap.min.css">
    <script src="~/js/jquery-3.4.1.min.js"></script>
    <script src="~/css/bootstrap/js/bootstrap.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="~/js/apiRequests.js"></script>
    <script src="~/js/globalFunc.js"></script>
    <link href="~/css/select2-bootstrap4-theme/dist/select2-bootstrap4.css" rel="stylesheet">
    <link rel="stylesheet" href="~/js/select2/css/select2.css">
    <script src="~/js/select2/js/select2.js"></script>
    <link rel="stylesheet" href="~/css/bootstrap-select/dist/css/bootstrap-select.min.css">
    <script src="~/css/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
    <script src="~/js/Colors.js"></script>
    <link href="~/css/Styles.css" rel="stylesheet">
    <link rel="stylesheet" href="https://static2.sharepointonline.com/files/fabric/office-ui-fabric-js/1.4.0/css/fabric.min.css" />
    <link rel="stylesheet" href="https://static2.sharepointonline.com/files/fabric/office-ui-fabric-js/1.4.0/css/fabric.components.min.css" />
    <script src="https://static2.sharepointonline.com/files/fabric/office-ui-fabric-js/1.4.0/js/fabric.min.js"></script>
    <!-- Microsoft Teams JavaScript API (via CDN) -->
    <script src="https://statics.teams.cdn.office.net/sdk/v1.8.0/js/MicrosoftTeams.min.js" integrity="sha384-5ilKjPffKMvf1YelNqWjOhy5WJC9rkHpgF9pASMY/eRFlb619wOrCGMVIg/a/71o" crossorigin="anonymous"></script>

    <script>
        @{
            var data = (CredentialsModel)ViewData["Credentials"];
            var members = ViewData["Members"];
        }
        var orgMembers = [];
        var urla = "@Html.Raw(data.userUrl)";
        var apikey = "@Html.Raw(data.apiKey)";
        var membersCount = 0, tempMembersCount = 0;
        var matterMembers = [];
        var emails = [];
        var noEmails = [];
        var model, data;
        $(document).ready(function () {
            microsoftTeams.initialize();
            setupTheme();
            changedMatterAction("@Html.Raw(@Model.ContractId)");
            try {
                var members = JSON.parse('@Html.Raw(members)');
                members.forEach(element => {
                    orgMembers.push({
                        id: element.id,
                        text: element.name,
                        mail: element.mail
                    });
                });
                ajaxEventHandlerCheckAPIkey("addMember");
                $("#addMember").select2({
                    theme: "bootstrap4",
                    width: '100%',
                    placeholder: "Select Member",
                    multiple: true,
                    allowClear: true,
                    data: orgMembers
                });
            }
            catch (err) {
                console.log(err);
                orgMembers = [];
            }
            $("#invitedContacts").on("select2:select",function(d){
                var contactName;
                if(d instanceof Array)
                    contactName = (d.params.data[0]).text.trim();
                else
                    contactName = (d.params.data).text.trim();
                var isExist = false;
                var breakException = {};
                try{
                matterMembers.forEach(element => {
                    if(element.name == contactName)
                    {
                        isExist = true;
                        throw breakException;
                    }
                });
                }
                catch(error){
                    if(error !== breakException) throw error;
                }
                if(isExist){
                    $("#invitedContacts option[value='"+d.params.data.id+"']").remove();
                    $("#contactExistModalParent").show("500");
                    $("#memberExistLabel").html(contactName + " already exists in the team");
                }
                $("#invitedContacts").trigger("change");
            });
            $("#addMember").on("select2:select", function (d) {
                var memberName;
                if (d instanceof Array) {
                    memberName = (d.params.data[0]).text.trim();
                }
                else {
                    memberName = (d.params.data).text.trim();
                }
                var isExist = false;
                var breakException = {};
                try {
                    matterMembers.forEach(element => {
                        if (element.name == memberName) {
                            isExist = true;
                            throw breakException;
                        }
                    });
                }
                catch (error) {
                    if (error !== breakException) throw error;
                }
                if (isExist) {
                    $("#addMember option[value='" + d.params.data.id + "']").remove();
                    $("#contactExistModalParent").show("500");
                    $("#memberExistLabel").html(memberName + " already exists in the team");
                }
                $("#addMember").trigger("change");
            });
            if(typeof(Storage) !== undefined){
                localStorage.setItem("apiKey",apikey);
            }
            else
            {
                alert("Please use another browser for better experience!");
            }
            $("#meet-now-button").click(function(){
                // $("#loader").addClass("fa fa-spinner fa-spin");
                $("#invitedContacts").focus();
                addLoader();
                setTimeout(function(){
                try
                {
                    emails = [];
                    noEmails = [];
                    var checkedMembersName = [];
                    var contactsToMeet = [];
                    for (var i = 1; i <= tempMembersCount; i++)
                    {
                        var divElement = document.getElementById("member"+i);
                        //Member check if checked
                        var checkElement = divElement.children[0];
                        //Member Span element
                        var labelElement = divElement.children[1];
                        if(checkElement.checked)
                            checkedMembersName.push(labelElement.children[0].innerHTML);
                    }
                        //Get Ids of checked members
                    for (var i = 0, len = matterMembers.length; i < len; i++)
                    {
                        for (var j = 0, len2 = checkedMembersName.length; j < len2; j++)
                        {
                                    var trimmedContactName = checkedMembersName[j].trim();
                                    if (matterMembers[i].name === trimmedContactName)
                                    {
                                            checkedMembersName.splice(j, 1);
                                            contactsToMeet.push(matterMembers[i]);
                                            len2=checkedMembersName.length;
                                    }
                        }
                    }

                    var countRetrieve = 0;
                        contactsToMeet.forEach(element => {
                            countRetrieve++;
                            if (element.type === "contact")
                                getContactMailById(element.id);
                            else
                                if (element.type === "member") {
                                    emails.push(element.mail);
                                }
                                else {
                                    getUserMailByName(element.name);
                                }
                        });
                        if(noEmails.length > 0){
                            $("#popUpModal").modal("show");
                            let noEmailString = noEmails.join();
                            if(noEmails.length == 1)
                                    $("#messagePopUp").html(noEmailString + " has not an email")
                            else if(noEmailString.length > 0)
                                    $("#messagePopUp").html(noEmailString + " have not emails")
                        }
                        setTimeout(function(){
                            //Send data to the controller
                            var id = $("#matterName").val();
                            if (emails.length > 0) {
                                var urls = "@Url.Action("MeetNow","Contracts")";
                                model = { CaseID: id, Members: emails };
                                $.post(urls, model, function (resp) {
                                    checkResponse(resp);
                                });
                            }
                            else {
                                showErrorMsg("Please select at least one member which has an email!");
                            }
                        },1000);
                }
                catch (error)
                {
                        if(!emails.length){
                            alert("Data is missing!");
                        }
                        else
                            alert(error)
                }
                },1000);
            });
            $("#add-contact").click(function(){
                var selectedInvitedContacts = $("#invitedContacts").select2("data");
                    selectedInvitedContacts.forEach(element => {
                        var name = element.text.trim();
                        matterMembers.push({ id: element.id, name: name, type: "contact"});
                            addNewMember(name);
                            $("#invitedContacts option[value='"+element.id+"']").remove();
                    });
                $(this).attr('disabled', true);
                $("#membersScroll").animate({ scrollTop: $("#membersScroll")[0].scrollHeight }, 1000);
                $('#meet-now-button').attr('disabled', false);

            });
            $("#add-member").click(function () {
                var selectedAddedMember = $("#addMember").select2("data");
                selectedAddedMember.forEach(element => {
                    var name = element.text.trim();
                    matterMembers.push({ id: element.id, name: name, mail: element.mail, type: "member" });
                    addNewMember(name);
                    $("#addMember option[value='" + element.id + "']").remove();
                });
                $(this).attr('disabled', true);
                $("#membersScroll").animate({ scrollTop: $("#membersScroll")[0].scrollHeight }, 1000);
                $('#meet-now-button').attr('disabled', false);

            });
            $("#invitedContacts").on('change',function(){
                try{
                    var selectedInvitedContacts = $("#invitedContacts").select2("data");
                    $("#add-contact").attr("disabled",!selectedInvitedContacts.length);
                }
                catch(error)
                {
                    alert(error)
                }
            });
            $("#addMember").on('change', function () {
                try {
                    var selectedAddedMember = $("#addMember").select2("data");
                    $("#add-member").attr("disabled", !selectedAddedMember.length);
                }
                catch (error) {
                    alert(error)
                }
            });
            $("#closeButton").click(function(){
                $("#contactExistModalParent").hide();
            });
            $("#yesButton").on("click", function (event) {
                event.stopPropagation();
                event.preventDefault();
                $("#popUpModal").modal("hide");
                addLoader();
                $("#checkingInfo").html("Creating new team and adding the channel to it. This may take a while...");
                var url = "@Url.Action("CreateNewTeam","Contracts")";
                $.post(url, data, function (response) {
                    checkResponse(response);
                });
            });
            $("#closePopUp").on("click", function (event) {
                event.stopPropagation();
                event.preventDefault();
                $("#popUpModal").modal("hide");
                if (typeof data === 'string' || data instanceof String) {
                    microsoftTeams.executeDeepLink(data);
                }
            });
        });
        function memberSelectionChange(checkBoxItem){
                var anyChecked = false
                for(var i = 1; i <= membersCount; i++){
                    var item = $("#memberCheck"+i);
                    if(item.is(":checked"))
                    {
                        anyChecked = true;
                        break;
                    }
                }
                $("#meet-now-button").attr('disabled',!anyChecked);
                if(anyChecked)
                    document.getElementById("meet-now-button").style.cursor = "pointer";
                else
                    document.getElementById("meet-now-button").style.cursor = "initial";
            };
        function changedMatterAction(contractId){
            try {
                $("#selectedMembers").select2().empty();
                $("#invitedContacts").select2().empty();
                $.ajax({
                    type: "GET",
                    url: urla + "modules/api/contracts/edit/" + contractId,
                    beforeSend: function (request) {
                        request.setRequestHeader("x-api-key", "" + apikey + "");
                        request.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
                        request.setRequestHeader("x-api-channel", "microsoft-teams");
                    },
                    dataType: 'json',
                    delay: 300,
                    cache: false,
                }).done(function (data) {
                }).fail(function (error) {
                    alert(error);
                }).always(function (data) {

                    try {
                        var success = data.success;
                        var reponseError = data.error;
                        if (reponseError) {
                            if (reponseError.code == "refresh_key_required") {
                                var responseData = refreshToken();
                                var responseDataObj = JSON.parse(responseData);
                                var errorRefresh = responseDataObj.error;
                                var successRefresh = responseDataObj.success;
                                if (errorRefresh == "") {
                                    var newApiKey = successRefresh.data.key;
                                    apikey = newApiKey;
                                    let url = "@Url.Action("RefreshApiKey","Login")";
                                        $.post(url, apikey, function (result) {
                                            if (result) {
                                                changedMatterAction(matterId);
                                                return;
                                            }
                                        });
                                    return;
                                }
                            } else if (reponseError.code == "unauthorized") {
                                let url = "@Url.Action("Unauthorized","Login")";
                                var controllerName = '@ViewContext.RouteData.Values["Controller"].ToString()';
                                var actionName = '@ViewContext.RouteData.Values["Action"].ToString()';
                                let redirectUrlModel = { controllerName: controllerName, actionName: actionName };
                                $.post(url, redirectUrlModel, function (result) {
                                    if (result) {
                                        let url = "@Url.Action("SignIn", "Login")";
                                        window.location.href = url;
                                        return;
                                    }
                                    else {
                                        return;
                                    }
                                    });
                            }
                        }
                        if (success) {
                            //Fill in the array with all case members and(((check if null or empty, then dismiss it)))
                            try {
                                membersCount = 0;
                                matterMembers = [];
                                var contractValues = success.data.contract;

                                var contributors = contractValues.contributors;
                                var assignedToFullName = contractValues.assignee;
                                var requestedByName = contractValues.requester;
                                var parties = contractValues.parties;

                                if (assignedToFullName != null && assignedToFullName.length > 0)
                                    matterMembers.push({ id: contractValues.assignee_id, name: assignedToFullName, type: "user" });

                                if (requestedByName != null && requestedByName.length > 0)
                                    matterMembers.push({ id: contractValues.requester_id, name: requestedByName, type: "contact" });

                                if (contributors.length > 0) {
                                    contributors.forEach(contributor => {
                                        var name = (contributor.name).trim();
                                        var id = contributor.id;
                                        if (name != null && name.length > 0)
                                            matterMembers.push({ id: id, name: name, type: "user"});
                                    });
                                }

                                if (parties.length > 0) {
                                    parties.forEach(party => {
                                        var name = (party.party_name).trim();
                                        var id = party.party_member_id;
                                        var partyType = party.party_member_type;
                                        if (partyType == "contact") {
                                            if (name != null && name.length > 0)
                                                matterMembers.push({ id: id, name: name, type: "contact" });
                                        }
                                    });
                                }
                                $("#membersList").html("");
                                //Remove duplicates
                                matterMembers = Array.from(new Set(matterMembers.map(a => a.name))).map(name => {
                                    return matterMembers.find(a => a.name === name)
                                })
                                membersCount = matterMembers.length;
                                tempMembersCount = 0;
                                matterMembers.forEach(element => {
                                    addNewMember(element.name);
                                });

                                $("#membersBox").show(1000);
                                $("#meet-now-button").attr("disabled", false);

                                //Update the contacts on which the member must not appeared in contacts list
                                setTimeout(function () {
                                    updateContacts();
                                }, 1000);
                            }
                            catch (err) {
                                showErrorMsg(err);
                            }
                            //if(isClientContact)
                            //{
                            //    var clientName = (contractValues.clientName).trim();
                            //    if(clientName != null && clientName.length > 0)
                            //         matterMembers.push({id:contractValues.contact_company_id, name: clientName, type: (contractValues.contact_company_id.length == 10)?"user":"contact"});
                            //}
                            ////Related Contacts
                            //getRelatedContacts(matterId, relatedContactCallBack);
                        }
                            //getContactMailById(success.data.caseValues.assignedTo);
                    } catch (e) {
                        console.log(e);
                     }
                });

            } catch (e) {
                console.log(e);
             }
        }

        function getRelatedContacts(matterID, callBack){
                $.ajax({
                    type: "GET",
                    url: urla + "modules/api/cases/related_contacts/" + matterID,
                    beforeSend: function (request) {
                        request.setRequestHeader("x-api-key", "" + apikey + "");
                        request.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
                        request.setRequestHeader("x-api-channel", "microsoft-teams");
                    },
                    dataType: 'json',
                    delay: 300,
                    cache: false,
                    success: callBack,
                });
        }
        function relatedContactCallBack(result){
            try {
                        var success = result.success;
                        var reponseError = result.error;
                        if (reponseError) {
                            if (reponseError.code == "refresh_key_required") {
                                var responseData = refreshToken();
                                var responseDataObj = JSON.parse(responseData);
                                var errorRefresh = responseDataObj.error;
                                var successRefresh = responseDataObj.success;
                                if (errorRefresh == "") {
                                    var newApiKey = successRefresh.data.key;
                                    apikey = newApiKey;
                                    let url = "@Url.Action("RefreshApiKey","Login")";
                                        $.post(url, apikey, function (result) {
                                            if (result) {
                                                relatedContactCallBack(result);
                                                return;
                                            }
                                        });
                                }
                            } else if (reponseError.code == "unauthorized") {
                                let url = "@Url.Action("Unauthorized","Login")";
                                var controllerName = '@ViewContext.RouteData.Values["Controller"].ToString()';
                                var actionName = '@ViewContext.RouteData.Values["Action"].ToString()';
                                let redirectUrlModel = { controllerName: controllerName, actionName: actionName };
                                $.post(url, redirectUrlModel, function (result) {
                                    if (result) {
                                        let url = "@Url.Action("SignIn", "Login")";
                                        window.location.href = url;
                                        return;
                                    }
                                    else {
                                        return;
                                    }
                                    });
                            }
                        }
                        if (success) {
                           var contacts = [];
                           contacts = success.data.data;
                           contacts.forEach(element => {
                                if(element.contactType == "contact")
                                    matterMembers.push({ id: element.contactId, name: element.contactName, type: "contact"});
                            });
                            
                        }
                    } catch (e) {
                        console.log(e);
                     }
        }
        function updateContacts() {
            ajaxEventHandlerCheckAPIkey("invitedContacts");
            $("#invitedContacts").select2({
                                theme: "bootstrap4",
                                width: '100%',
                                placeholder: "Select Contact",
                                multiple: true,
                                allowClear: true,
                                ajax: {
                                url: urla + "modules/api/contacts/autocomplete",
                                beforeSend: function (request) {
                                    request.setRequestHeader("x-api-key", "" + apikey + "");
                                    request.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
                                    request.setRequestHeader("x-api-channel", "microsoft-teams");
                                },
                                dataType: 'json',
                                type: "POST",
                                delay: 300,
                                data: function (params) {

                                    var query = {
                                        term: params.term,
                                        "x-api-key": "" + apikey + "",
                                    }
                                    return query;
                                },
                                cache: false,
                                processResults: function (jdata) {
                                    var error = jdata.error;
                                    if (error) {
                                        if (error.code == "refresh_key_required") {
                                            var responseData = refreshToken();
                                            var responseDataObj = JSON.parse(responseData);
                                            var errorRefresh = responseDataObj.error;
                                            var successRefresh = responseDataObj.success;
                                            if (errorRefresh == "") {
                                                var newApiKey = successRefresh.data.key;
                                                apikey = newApiKey;
                                                let url = "@Url.Action("RefreshApiKey","Login")";
                                                $.post(url, apikey, function (result) {
                                                    if (result) {
                                                        return;
                                                    }
                                                });
                                            }
                                        } else if (error.code == "unauthorized") {
                                            let url = "@Url.Action("Unauthorized","Login")";
                                            var controllerName = '@ViewContext.RouteData.Values["Controller"].ToString()';
                                            var actionName = '@ViewContext.RouteData.Values["Action"].ToString()';
                                            let redirectUrlModel = { controllerName: controllerName, actionName: actionName };
                                            $.post(url, redirectUrlModel, function (result) {
                                                if (result) {
                                                    let url = "@Url.Action("SignIn", "Login")";
                                                    window.location.href = url;
                                                    return;
                                                }
                                                else {
                                                    return;
                                                }
                                                });
                                        }
                                    }
                                    var results = [];
                                    var contacts = [];
                                    contacts = jdata.success.data;
                                    $.each(contacts, function (index, item) {
                                        results.push({
                                            id: item.id,
                                            text: item.name
                                        });
                                    });
                                    return {
                                        results: results
                                    };
                             }
                         }

            });
        }
        function getContactMailById(contactID){
            $.ajax({
                    type: "GET",
                    url: urla + "modules/api/contacts/edit/"+contactID,
                    beforeSend: function (request) {
                        request.setRequestHeader("x-api-key", "" + apikey + "");
                        request.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
                        request.setRequestHeader("x-api-channel", "microsoft-teams");
                    },
                    dataType: 'json',
                    delay: 300,
                    cache: false,
                    async: false
                }).done(function (data) {
                }).fail(function (error) {
                    alert(error);
                }).always(function (data) {

                    try {
                        var success = data.success;
                        var reponseError = data.error;
                        if (reponseError) {
                            if (reponseError.code == "refresh_key_required") {
                                var responseData = refreshToken();
                                var responseDataObj = JSON.parse(responseData);
                                var errorRefresh = responseDataObj.error;
                                var successRefresh = responseDataObj.success;
                                if (errorRefresh == "") {
                                    var newApiKey = successRefresh.data.key;
                                    apikey = newApiKey;
                                    let url = "@Url.Action("RefreshApiKey","Login")";
                                        $.post(url, apikey, function (result) {
                                            if (result) {
                                                getContactMailById(contactID);
                                                return;
                                            }
                                        });
                                }
                            } else if (reponseError.code == "unauthorized") {
                                let url = "@Url.Action("Unauthorized","Login")";
                                var controllerName = '@ViewContext.RouteData.Values["Controller"].ToString()';
                                var actionName = '@ViewContext.RouteData.Values["Action"].ToString()';
                                let redirectUrlModel = { controllerName: controllerName, actionName: actionName };
                                $.post(url, redirectUrlModel, function (result) {
                                    if (result) {
                                        let url = "@Url.Action("SignIn", "Login")";
                                        window.location.href = url;
                                        return;
                                    }
                                    else {
                                        return;
                                    }
                                    });
                            }
                        }
                        if (success) {
                           var contactValues = success.data.contactValues;
                           var email = contactValues.email;
                           if(email.length > 0 && email != null){
                               emails.push(email);
                           }
                           else
                           {
                               noEmails.push(contactValues.firstName + " " + contactValues.lastName);

                           }
                        }
                    } catch (e) {
                        console.log(e);
                    }
                });
         }
        function getUserMailByName(userName){
                $.ajax({
                        type: "POST",
                        url: urla + "modules/api/auth_users/autocomplete",
                        beforeSend: function (request) {
                            request.setRequestHeader("x-api-key", "" + apikey + "");
                            request.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
                            request.setRequestHeader("x-api-channel", "microsoft-teams");
                        },
                        dataType: 'json',
                        delay: 300,
                        async: false,
                        cache: false,
                        data:{
                            term: userName
                        }
                    }).done(function (data) {
                    }).fail(function (error) {
                        alert(error);
                    }).always(function (data) {

                        try {
                            var success = data.success;
                            var reponseError = data.error;
                            if (reponseError) {
                                if (reponseError.code == "refresh_key_required") {
                                    var responseData = refreshToken();
                                    var responseDataObj = JSON.parse(responseData);
                                    var errorRefresh = responseDataObj.error;
                                    var successRefresh = responseDataObj.success;
                                    if (errorRefresh == "") {
                                        var newApiKey = successRefresh.data.key;
                                        apikey = newApiKey;
                                        let url = "@Url.Action("RefreshApiKey","Login")";
                                        $.post(url, apikey, function (result) {
                                            if (result) {
                                                getUserMailByName(userName);
                                                return;
                                            }
                                        });
                                    }
                                } else if (reponseError.code == "unauthorized") {
                                    let url = "@Url.Action("Unauthorized","Login")";
                                    var controllerName = '@ViewContext.RouteData.Values["Controller"].ToString()';
                                    var actionName = '@ViewContext.RouteData.Values["Action"].ToString()';
                                    let redirectUrlModel = { controllerName: controllerName, actionName: actionName };
                                    $.post(url, redirectUrlModel, function (result) {
                                        if (result) {
                                            let url = "@Url.Action("SignIn", "Login")";
                                            window.location.href = url;
                                            return;
                                        }
                                        else {
                                            return;
                                        }
                                        });
                                }
                            }
                            if (success) {
                                var user = (success.data)[0];
                                var email = user.email;
                                if(email.length > 0 && email != null){
                                    emails.push(email);
                                }
                                else
                                {
                                    @* alert(user.firstName + " " + user.lastName + " has no email"); *@
                                    noEmails.push(user.firstName + " " + user.lastName);
                                }
                            }
                        } catch (e) {
                            console.log(e);
                        }
                });
            }
        function addNewMember(memberName)
         {
            tempMembersCount++;
            membersCount++;
            var memberElementHtml =
                '<div class="ms-CheckBox" id="member'+tempMembersCount+'">'+
                '<input type="checkbox" tabindex="-1" class="ms-CheckBox-input" id="memberCheck' + tempMembersCount + '" onclick="memberSelectionChange(this)" checked>'+
                '<label role="checkbox" class="ms-CheckBox-field" tabindex="0" aria-checked="false" name="checkboxa" for="memberCheck' + tempMembersCount + '" id="memberName' + tempMembersCount + '"><span class="ms-Label text">' + memberName +'</span></label>'+
                '</div>';
            addElement("membersList", "li", "check" + tempMembersCount, memberElementHtml);
            var elementAdded = document.getElementById("member" + tempMembersCount);
            new fabric['CheckBox'](elementAdded);
         }
        function addElement(parentId, elementTag, elementId, html) {
            // Adds an element to the document
            var p = document.getElementById(parentId);
            var newElement = document.createElement(elementTag);
            newElement.setAttribute('class', 'list-group-item');
            newElement.innerHTML = html;
            p.appendChild(newElement);
            setupTheme();
        }
        function removeElement(elementId) {
            // Removes an element from the document
            var element = document.getElementById(elementId);
            element.parentNode.removeChild(element);
        }
        function showErrorMsg(msg, additionalData, showYesButton) {
            $("#popUpModal").modal("show");

            if (showYesButton) {
                $("#yesButton").show();
                $("#closePopUp").html("No");
            }
            $("#messagePopUp").html(msg);
            removeLoader();
            data = additionalData;
        }
        function addLoader() {
            $("#checkingInfo").show(500);
            $("#checkingInfo").html("Creating channel...");
            $("#meet-now-button").addClass("active");
            $("#contractContainer").addClass("loading");
        }
        function removeLoader() {
            $("#checkingInfo").hide();
            $("#meet-now-button").removeClass("active");
            $("#contractContainer").removeClass("loading");
        }
        function checkResponse(resp) {
            try {
                var response = JSON.parse(resp);
                var code = response.code;
                switch (code) {
                    case "MaxPrivateChannelLimitExceeded": {
                        showErrorMsg("Your team has reached the maximum number of private channels. Do you want to create another App4Legal-Contract team?", model, true);
                        return;
                    } break;
                    case "ChannelExisted": {
                        showErrorMsg("Channel name already existed or recently deleted, please choose other contract or restore the deleted channel.");
                        return;
                    } break;
                    case "Succeeded": {
                        var url = response.message.url;
                        var forbiddenMails = response.message.forbiddenMails;
                        if (forbiddenMails != null) {
                            showErrorMsg("Some members have not been added due to either you are not a team owner or the invite guest option not enabled from the organization azure portal, Not added members: " + forbiddenMails, url);
                        }
                        else {
                            if (url != null)
                                microsoftTeams.executeDeepLink(url)
                        }
                    } break;
                    case "Error": {
                        var message = response.message;
                        if (message.length > 0) {
                            if (message.includes("CreateChannel_Private"))
                                showErrorMsg("There's an existing teams which you are not a member of it. Please ask to add you");
                            else
                                showErrorMsg(message);
                        }
                        else
                            showErrorMsg("Something went wrong! Please try again.");
                    } break;
                }
            }
            catch (err) {
                console.log(err);
                if (resp.length != 0) {
                    showErrorMsg(resp);
                }
            }
        }
        function setupTheme() {

            microsoftTeams.getContext((context) => {
                var textLabels = document.querySelectorAll('.text');
                var container = $('.container');
                var itemsList = document.querySelectorAll('.list-group-item');
                if (textLabels != null) {
                    textLabels.forEach(element => {
                        element.style.color = (context.theme === 'default') ? appBlack : '#fff';
                    });
                }
                if (itemsList != null && itemsList.length != 0) {
                    itemsList.forEach(element => {
                        element.style.backgroundColor = (context.theme === 'default') ? '#fff' : appBlack;
                        element.style.borderColor = (context.theme !== 'contrast') ? appGray : '#fff';
                    });
                }
                if (context.theme !== 'default') {
                    document.body.style.backgroundColor = appBlack;
                    container.css('backgroundColor', appBlack);
                }
                else {
                    document.body.style.backgroundColor = appGray;
                    container.css('backgroundColor', '#fff');
                }
            });

            microsoftTeams.registerOnThemeChangeHandler((theme) => {

                var textLabels = document.querySelectorAll('.text');
                var container = $('.container');
                var itemsList = document.querySelectorAll('.list-group-item');
                if (textLabels != null) {
                    textLabels.forEach(element => {
                        element.style.color = (theme === 'default') ? appBlack : '#fff';
                    })
                }
                if (itemsList != null && itemsList.length != 0) {
                    itemsList.forEach(element => {
                        element.style.backgroundColor = (theme === 'default') ? '#fff' : appBlack;
                        element.style.borderColor = (theme !== 'contrast') ? appGray : '#fff';
                    })
                }
                if (theme !== 'default') {
                    document.body.style.backgroundColor = appBlack;
                    container.css('backgroundColor', appBlack);
                }
                else {
                    document.body.style.backgroundColor = appGray;
                    container.css('backgroundColor', '#fff');
                }
            });
        }
    </script>
    <style>
        #contractNames {
            margin-top: 7px;
        }
    </style>
</head>
<body>
    <partial name="_MenuBar" />

    <div class="container center_div" id="contractContainer">
        <div class="form-group row justify-content-center">
            <h3 class="text">Add members to the Meeting</h3>
        </div>
        <div class="form-group row justify-content-center">
            <label class="col-sm-3 offset-sm-1 col-form-label text">Contract Name</label>
            <div class="col-sm-6">
                <p id="contractNames" class="text">@Model.CaseName</p>
            </div>
            <div class="col-sm-2">
            </div>
        </div>
        <div class="form-group justify-content-center" id="membersBox">
            <div class="form-group row">
                <div class="col-sm-3 offset-sm-1">
                    <label for="invitedContacts" class="col-form-label text">Invite App4Legal Contacts</label>
                    <a class="infoImage" style="border-radius: 50%; float: right; margin-top: 5px;" title="Invite additional contacts as guests to the meeting.">
                        <img src="~/Images/info.svg" />
                    </a>
                </div>
                <div class="col-sm-6">
                    <select class="form-control" id="invitedContacts"></select>
                </div>
                <div class=" col-sm-2">
                    <button class="btn" id="add-contact" type="button" disabled>Add</button>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-3 offset-sm-1">
                    <label for="addMember" class="col-form-label text">Add Organization Members</label>
                    <a class="infoImage" style="border-radius: 50%; float: right; margin-top: 5px;" title="Add an existed member in the organization to the meeting.">
                        <img src="~/Images/info.svg" />
                    </a>
                </div>
                <div class="col-sm-6">
                    <select class="form-control" id="addMember"></select>
                </div>
                <div class=" col-sm-2">
                    <button class="btn" id="add-member" type="button" disabled>Add</button>
                </div>
            </div>
            <div class="form-group row" id="contactExistModalParent">
                <div class="form-control col-sm-6 offset-sm-4" id="contactExistModal">
                    <p id="memberExistLabel">Member already exists in this team.</p>
                    <button type="button" class="close" aria-label="Close" id="closeButton">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
            <div class="form-group row justify-content-center">
                <div class="col-sm-3 offset-sm-1">
                    <label for="membersList" class="col-form-label text">Contract Members</label>
                    <a class="infoImage" style="border-radius: 50%; float: right; margin-top: 5px;" title="By default, we are adding the assignees, requested by, parties, and contributors to this contract.">
                        <img src="~/Images/info.svg" />
                    </a>
                </div>
                <div class="col-sm-6 overflow-auto" style="max-height: 350px;" id="membersScroll">
                    <ul class="custom-control" id="membersList">
                    </ul>
                </div>
                <div class="col-sm-2">
                </div>
            </div>
        </div>
        <div class="form-group row justify-content-center">
            <div class="col-md-4 text-center">
                <p id="checkingInfo" class="text">Creating...</p>
                <button class="btn" id="meet-now-button" type="button" disabled style="margin-bottom: 30px; margin-top: 20px;">Meet Now</button>
            </div>
        </div>
    </div>
    <div class="modal" tabindex="-1" role="dialog" id="popUpModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content container">
                <div class="modal-header">
                    <h5 class="modal-title text">Information</h5>
                </div>
                <div class="modal-body">
                    <p class="text" id="messagePopUp"></p>
                </div>
                <div class="modal-footer">
                    <button id="closePopUp" class="btn btn-light" style="background-color:whitesmoke; color:black">Close</button>
                    <button id="yesButton" style="display: none;" class="btn">Yes</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>